[2021-03-27 04:54] aschonfeld commented on #390
added in v1.41.0

[2021-03-27 04:54] #390 closed

[2021-03-27 04:56] aschonfeld commented on #255
@arashaneh just released version 1.41.0 (will be on conda-forge shortly as well) I'll keep working on adding the ability to mix line & bar charts. Please take a sec and toss your ⭐  on the repo.  Thanks for your help 🙏

[2021-03-27 04:56] #255 closed

[2021-03-27 13:07] aschonfeld commented on #447
@priyankguddu are you still encountering this issue?  The only other thing I can recommend is re-installing kaleido.  If not, I'm going to close this issue.  Thanks

[2021-03-27 13:08] aschonfeld commented on #450
@salihkurucan are you still having issues?  If not, I'll close this.  Happy to help more

[2021-03-29 13:47] arashaneh commented on #255
Thanks, Andrew! sure certainly.

[2021-03-30 14:51] jnissin opened #458 "Unable to kill a single DtaleData instance"
Hey,

First of all thank you for your amazing work on this library. This has been one of the most useful data visualisation libraries paired with Jupyter for me. I am running Jupyter in a Google Cloud AI Platform Notebook instance. I can use dtale with the jupyter-server-proxy plugin by specifying the `app_root` to the `dtale.show` function:

[code]

I get a valid instance which I can view embedde

[2021-03-30 15:02] jnissin commented on #458
I would also like to add that using a more comprehensive specification for `host`, `port` and `app_root` for the `show` function results in an invalid URL for viewing the DtaleData, kill also doesn't work:

[code]

[code]

I am using the latest dtale version `1.41.0` from conda-forge with python 3.7.

[2021-03-30 16:11] jnissin commented on #458
Thanks a lot! Let know if I can provide any help with that.

[2021-03-30 22:20] aschonfeld commented on #458
Doing some further digging it seems that when calling the shutdown programmatically (from `d.kill()`) we just need to specify the actual host/port we used when starting D-Tale and not the proxy path.  So the kill function needs to use `http://localhost:40000/shutdown` and not `http://localhost:8000/user/root/proxy/40000/shutdown` (this does work when using the "Shutdown" button from the main menu

[2021-03-31 02:50] aschonfeld commented on #458
@jnissin Just released 1.41.1 to pypi (will be on conda-forge shortly) which will hopefully fix your issues.  Ultimately, if calling `d.kill()` from your notebook doesn't work (which I'm hoping it will) you can still use the "Shutdown" button from the main menu of the web UI:
![image](https://user-images.githubusercontent.com/11547371/113083400-223fb380-91aa-11eb-9c1a-9e918b3c2f5d.png)

Let me kno

[2021-03-31 02:50] #458 closed

[2021-03-31 06:44] jnissin commented on #458
Alright, I'll test it out!

Just to make sure - is there a way to free up the resources used by a single DtaleData instance, i.e. the resources allocated to a single DataFrame, without killing the whole dtale session? According to the behaviour described in the documentation I imagined that `dtale.get_instance(instance_id).kill()` would free up the resources of a single DtaleData instance without

[2021-03-31 06:52] jnissin commented on #458
So, to be exact when I do this:

[code]

I get two instances

[code]

When I kill `d1` and print the instances both of the instances are gone:

[code]

Output:

[code]

I would have expected that instance with ID 1 would have been killed while maintaining instance with ID 2.

By the way I did this using the version `1.41.1` from conda-forge and the `.kill()` command seems to be fixed with Jupyter

[2021-03-31 12:09] aschonfeld commented on #458
@jnissin there is a way to do what you're asking (sorry I need to do a better job of documenting 🤦 ).

So the first option is to use the web UI:
1) click the "Instances" button on the main menu:
![image](https://user-images.githubusercontent.com/11547371/113141644-f3502e80-91f7-11eb-8057-4e1aa1bf9f3c.png)
2) click the trashcan on any instance (it doesn't show up on the instance you're currently vi

[2021-04-01 12:32] jnissin commented on #458
Alright!

So it was a PEBCAK problem after all 😅 . I'll wrap that into something nicer in my libraries. Thank you for all your support 🙏 !

[2021-04-06 00:48] priyankguddu commented on #447
Will check with the latest version and update the kaleido.
@aschonfeld can we get Data loading slider both ways (as some time we have very large set and interesting data is towards end, if we can just load the Data frame to say load last 20% of data (right now u have from the 1st 20%-100%), that way the speed and response will be much faster
![image](https://user-images.githubusercontent.com/25154

[2021-04-06 04:14] aschonfeld commented on #447
Thanks for your help. If the PNG is still failing i may need you to send me a .har recording.

As for the “Load” slider its choosing a random sample of data so choosing a specific percentage doesnt actually choose data from the front or back.  I can try adding an option to allow that though. Shouldnt be hard.

[2021-04-12 02:33] aschonfeld commented on #306
This will be included in v1.42.0, here's a demo:

https://user-images.githubusercontent.com/11547371/114333255-de3b9f80-9b15-11eb-89dc-96e4bf1ade93.mov

[2021-04-12 02:33] #306 closed

[2021-04-14 10:04] set92 opened #462 "Graphs slow with big data"
I love the interactivity of plotly to plot data and visualize it, but the problem is when you try to do it with medium to big datasets. In my case I'm trying with a dataset of (235395, 21), I was surprise because in general is fast, but I wanted to mention a couple points.

- When I check the correlation matrix it appears a little bit squeeze, maybe have a button to see it in a new tab? Or redimen

[2021-04-14 21:51] aschonfeld commented on #462
First off, thank you so much for the feedback.
* Hmm, I thought that the Correlations tab already opens in a new tab.  But I was planning on adding that as something that opens in the sliding side panel similar to the "Missing Analysis" where it opens 75% of the width of the screen, but if you think it helps I can make it open 100% and then you just just either click the button to open it in a new

[2021-04-14 22:02] set92 commented on #462
About the tags (seems they are called labels) I meant more to know about the issues before entering to it, for example https://github.com/pandas-profiling/pandas-profiling/issues I can check in a quick view and filter the issues of performance, bugs, the issues related with requesting features... idk maybe it doesn't really help much.

[2021-04-14 22:24] aschonfeld commented on #462
That makes sense, i can work on (at telhe very least) adding tags to the open tickets

[2021-04-15 01:09] aschonfeld commented on #378
@reza1615 sorry forgot I added cleaners to the chart builder back in version 1.41.1

[2021-04-15 01:09] #378 closed

[2021-04-15 01:11] aschonfeld commented on #284
@phillipdupuis hey man is this still an issue?  If not I'm going to close it.  Thanks

[2021-04-15 01:13] aschonfeld commented on #276
@rahulvrane @bigbprp can this be closed?

[2021-04-15 01:14] #275 closed

[2021-04-15 01:15] #258 closed

[2021-04-15 01:21] #80 closed

[2021-04-15 01:22] #95 closed

[2021-04-15 03:29] bigbprp commented on #276
Yes please. Thank you so much for all your hard work and focus. This is one of the fastest repository giving resolutions to raised issues.

[2021-04-15 03:41] aschonfeld commented on #276
@bigbprp Thanks and please feel free to toss your ⭐️on the repo. Thanks🙏

[2021-04-15 03:41] #276 closed

[2021-04-16 04:45] aschonfeld commented on #462
@set92 So I've implemented the ←→ and ↑↓ key handlers on the describe (side panel & popup) and I ended up converting the QQ chart over to a plotly scattergl.  Its definitely faster but the time its taking now is to send all the data across from the server to the browser because it trying to render a scatter with the #rows in dataframe times 2 (1 for the scatter and 1 for the trendline).  Here's a

[2021-04-16 11:26] mswastik opened #463 "Skew and Kurtosis on filtered data"
Skew and Kurtosis numbers which is visible on clicking the column header doesn't gets updated if we filter the data, i think it would be good feature to update those numbers based on filtered data.

[2021-04-16 14:53] set92 commented on #462
It looks pretty cool, if you like it or want that could be extrapolated to all the interface, for example alt to select the top menu and the arrows to move around... etc to the point you are able to navigate around only with keyboard, but maybe is too much because not sure how many people will use this type of features. Maybe is better to wait until more people to request it and focus on other fea

[2021-04-16 14:57] aschonfeld commented on #462
@set92 I'll keep this open until I do the actual release.  Just so people don't wonder why they don't see it yet 😉

I do really like the idea of having more keyboard navigation.  I had added hotkeys a while back but they were mainly shortcuts to open/close popups.  I'll keep digging on this stuff and will let you know when a new version out on pypi.

P.S. feel free to toss your ⭐ on the repo 🙏

[2021-04-19 01:12] aschonfeld commented on #463
Fixed in v1.43.0

[2021-04-19 01:12] #463 closed

[2021-04-19 01:13] aschonfeld commented on #462
Updated in v1.43.0

[2021-04-19 01:13] #462 closed

[2021-04-19 01:43] #450 closed

[2021-04-20 03:58] nemonominem opened #465 "Add user authentication"
Hello,

Could you please consider adding some form of user authentication?

Maybe using the Flask-User or Flask-Security libraries, or even better the MSAL for those running Active Directory (https://github.com/AzureAD/microsoft-authentication-library-for-python) which is very common in a corporate environment.

Right now any user on the network can access the UI by just going to the 4000n port on

[2021-04-21 04:40] aschonfeld commented on #465
Sorry, so this was never an issue at MAN because we always had a private firewall controlling everything.  So you could spin up local apps and only other devices within the intranet could connect to it.

That being said I can surely add some optional Flask-based authentication that can be controlled by a global config file.  If that is alright?  I've never really worked with MSAL so I think for a

[2021-04-21 22:47] nemonominem commented on #465
Thanks.
Yes, I understand where you started from.

What some users may not realize is that just calling it within a notebook (VSCode/Jupyter/etc) still spins up the full server, and thus exposes the data to anybody the organisation being able to access that server address via a web browser and simply poking the 4000x ports.
Effectively the notebook support is just a byproduct of the server mode.

[2021-04-22 13:11] juanfcocontreras opened #466 "Serialize cell contents"
dtale is currently not able to show pandas DataFrames containing lists or dictionaries in any cell.

Would it be possible to serialize the content of those elements to be able to display those DataFrames?

A solution could be to convert their content to String. Another less practical solution would be to display those cells as "Object" or similar, but at least you can work with the rest of the Dat

[2021-04-22 13:36] aschonfeld commented on #466
Oooh I like this one!  Yea I’ll work on seeing if I can update the JSON serializer to handle this.

[2021-04-22 19:07] aschonfeld commented on #466
Boom
![image](https://user-images.githubusercontent.com/11547371/115771883-776f7f00-a37c-11eb-80f7-f039c2354105.png)

[2021-04-22 21:35] phillipdupuis commented on #284
I do not believe so, nope! So I'll jump ahead of you and close it

If/when I hit errors like this again I'll report them :)

[2021-04-22 21:35] #284 closed

[2021-04-22 21:43] aschonfeld commented on #284
@phillipdupuis thank you good sir

[2021-04-23 13:25] TC500 opened #467 "click on column name not pop menu if column name contains '; / ? : @ & = + $ ,'"
show df with column name contains '; / ? : @ & = + $ ,'
[code]
before click:
![image](https://user-images.githubusercontent.com/13390065/115876685-36a96000-a479-11eb-8504-1e33098f5c75.png)
when i click the column name, the showed table disapear, the page all white:
![image](https://user-images.githubusercontent.com/13390065/115876741-44f77c00-a479-11eb-90a4-1fe6293fd95a.png)

i found that when i c

[2021-04-23 13:34] TC500 commented on #467
if column name contains whitespace like ''f-{"name":"test", "para":{"name":"test?"}}', the url is 'https://mlp.sankuai.com/mtjupyter/user/xxx/proxy/40000/dtale/column-filter-data/22/f-%7B%22name%22:%22test%22,%20%22para%22:%7B%22name%22:%22test?%22}}'
notebook show error message '2021-04-23 21:30:44,001 - ERROR    - 127.0.0.1 - - [23/Apr/2021 21:30:44] code 400, message Bad request syntax ('GET /d

[2021-04-23 21:02] aschonfeld commented on #467
@TC500 thanks so much for the high level of detail on this bug.  I think know how to handle this.  Will update as I get closer to a release.

[2021-04-24 20:23] aschonfeld commented on #467
Took a little doing but I got it working, will update when a release is made

https://user-images.githubusercontent.com/11547371/115971911-53957000-a519-11eb-9db6-64277f5482c9.mov

[2021-04-26 12:37] aschonfeld commented on #465
@nemonominem I'm about to merge my initial version of optional authentication to master.  Here's how it works.

You can choose to use optional authentication by adding the following to your D-Tale `.ini` file ([directions here](https://github.com/man-group/dtale/blob/master/docs/CONFIGURATION.md)):

[code]

Or you can call the following:

[code]

If you have done this before initially starting D-T

[2021-04-26 20:49] aschonfeld commented on #467
Just released v1.44.0 with this fix.  When you get get a sec, please toss your ⭐ on the repo for me 🙏

[2021-04-26 20:49] #467 closed

[2021-04-26 20:49] aschonfeld commented on #466
Just released 1.44.0 with this fix

[2021-04-26 20:49] #466 closed

[2021-04-26 20:50] aschonfeld commented on #465
@nemonominem Just released v1.44.0 with this functionality.  If you'd be so kind, please toss your ⭐ on the repo 🙏

[2021-04-26 20:50] #465 closed

[2021-04-26 20:53] aschonfeld commented on #447
@priyankguddu just released v1.44.0 with that extra functionality on the "Load" slider to choose between random/head/tail.  To get the last 20% simply choose "Tail" & "20%"

[2021-04-26 21:44] juanfcocontreras commented on #466
Thank you so much!

[2021-04-27 09:07] TC500 opened #470 "edit cell value issues when column name has special characters"
[code]
when i edit cell value, something like A1 from 1 to 0, the backend raise exception below:
[code]

[2021-04-27 20:07] aschonfeld commented on #470
@TC500 I'm sorry about that.  I was hoping I wouldn't have to patch my API endpoints but it looks like I do.  I've gone through the code and modified any endpoint which included a column name in the URI path and instead passed it as a URL parameter.  That should solve this issue.  Should have a release out later today:

https://user-images.githubusercontent.com/11547371/116306067-97cf7d00-a772-11e

[2021-04-27 20:58] aschonfeld commented on #470
Just released v1.44.1 to pypi with this fix.  Should be on conda-forge soon

[2021-04-27 20:58] #470 closed

[2021-04-27 21:03] fredzannarbor opened #471 "predefine custom filters for end users"
Hi,

I am using dtale (which is great!) to enable authors to deep dive into royalty data so I want to be able to predefine a number of custom filters that are available to these not-always-tech-savvy end users when they log into the standalone dtale app.  For example,  one might be:

`Author.str.contains($authorname) and Format=='Paperback'`

How can I do this?

[2021-04-28 00:23] aschonfeld commented on #471
Hmm, this is a good one.  So I could certainly add a hook in the back-end where you could predefine `lambda` functions by column name. For example:
[code]

The tough part will be displaying these filters on the front-end.  Should they be displayed in a separate filter pop-up?  Or should the Column menu for the column in question (Author) display them?  I'll leave that question up to you.

Thanks f

[2021-04-28 00:31] fredzannarbor commented on #471
For my end users, I'd go with whatever's most prominent.  A separate popup would probably be good.

I would definitely use this!

[2021-04-29 08:24] jnissin opened #472 "Manually specify (maximum) column widths"
I use D-Tale almost daily with datasets that contain columns with long strings that can be for example a thousand characters long. The automatic sizing of the column decides the column width according to the longest string in the dataset. Having a long column such as this in the middle of other columns can thus effectively hide all the data in the columns to the right of the long column. This can

[2021-04-30 01:25] aschonfeld commented on #472
@jnissin Yes I can definitely add a maximum initial column size.  How about 1000px?  I can also try adding a slider somewhere which will adjust every column width to a specific size if you want?

I'll try addressing this right after #471

[2021-04-30 12:14] aschonfeld opened #473 "Column Filters Broken (version 1.44.1 only)"
This will be solved in the release of v1.45.0 shortly. (Please downgrade to 1.44.0 in the meantime)

[2021-04-30 23:42] zxhmike commented on #443
Just found this. Thank you Andrew. Note for the other folks: I did the following and it works for me:
- `npm install`
- `npm run build`

[2021-05-01 00:27] aschonfeld commented on #443
@zxhmike great catch! I’ll be sure to update the documentation

[2021-05-03 03:13] aschonfeld commented on #471
@fredzannarbor Just wanted to give you an update on this.  Here's a screen recording of some data loaded using this snippet:
[code]

https://user-images.githubusercontent.com/11547371/116838322-f85c2100-ab9b-11eb-954d-d2d2bd7dc9e2.mov

[2021-05-04 05:30] nemonominem commented on #465
Thanks. testing it right now.
A bit of tuning may be needed - but I shall check precisely how this answers the typical use cases first.

[2021-05-04 11:31] aschonfeld commented on #465
@nemonominem sorry forgot to mention that my code is still in a branch. You can try it out if you cloned it and built the JS manually but that will take a little work on your end. Let me kno if you want to go that route and i can walk your thru it.

[2021-05-04 11:53] jnissin commented on #472
That sounds good, I guess for backwards compatibility it could behave as it does now if no maximum initial column size is specified :)

[2021-05-05 19:40] aschonfeld commented on #472
@jnissin So I've got a solution working currently.

Here is a screen shot of some columns without a maximum width applied:
![image](https://user-images.githubusercontent.com/11547371/117198584-33866c00-adb7-11eb-89a2-5eb1e856b501.png)

Then I go back and update my code that loads the dataframe to D-Tale and add these lines of code before calling `dtale.show`:
[code]
Now when D-Tale initially loads

[2021-05-05 23:14] aschonfeld commented on #473
fixed in v1.45.0

[2021-05-05 23:14] #473 closed

[2021-05-05 23:16] aschonfeld commented on #472
@jnissin I added this feature in the newly released v1.45.0 let me know of any issues

[2021-05-05 23:16] #472 closed

[2021-05-05 23:16] aschonfeld commented on #471
@fredzannarbor just released v1.45.0 with this new functionality, let me know if you hit any issues

[2021-05-05 23:16] #471 closed

[2021-05-06 03:22] #447 closed

[2021-05-10 23:07] fredzannarbor opened #475 "help getting redis + gunicorn running"
I am running a very slightly modified version of the gunicorn + redis app and hitting a wall when dtale tries to get the list of instances.

file: nimble_dtale.py
[code]
gunicorn --workers=10 --preload -b 0.0.0.0:5003 'nimble_dtale:app'

[2021-05-10 22:58:57 +0000] [13530] [INFO] Starting gunicorn 20.0.4
[2021-05-10 22:58:57 +0000] [13530] [INFO] Listening at: http://0.0.0.0:5003 (13530)
[2021-05-

[2021-05-11 01:04] fredzannarbor commented on #475
I found the other thread on this problem https://github.com/man-group/dtale/issues/307 and followed the steps beginning in the comment on Nov. 2 - https://github.com/man-group/dtale/issues/307#issuecomment-720729962 - I can run my flask app and it loads data as I intend -- but when I look for the instances:
[code]
and then when I tried to run a "preloaded" dataframe as in the comment Nov. 11 https

[2021-05-11 07:09] Azrael1 opened #477 "Dtale has no toolbar to view longer values"
I am trying to view a dataset, with large text values. Dtale increases the column width so much, that it is a pain to scroll to the right.

Can there be an option to change the default column width?

Also, a toolbar that shows the current cell's value, would be quite useful(similar to excel). This would also eliminate the need for really big column sizes.

[2021-05-11 15:18] aschonfeld commented on #475
@fredzannarbor sorry about the issues.  I had the `global_state` refactored a while back and it looks like there was definitely some issues around how data gets flushed to Redis.  I have fixes ready I just need to cut a release.

Once again, apologies for the issues.

[2021-05-11 16:35] fredzannarbor commented on #475
That's actually fabulous news as I spent most of last night butting my head against a wall convinced that I was missing something!

[2021-05-11 20:59] aschonfeld commented on #477
Sorry I thought I had left a little tooltip with the full value, but I think that only happens if you use the string formatting functionality to trim the value and an ellipses exists.  Until I can build something more permanent (like what is in excel) I can update the code to have a tooltip display the full value a column is over a certain length (100 characters sound good?)

[2021-05-12 05:46] Azrael1 commented on #477
Sure, and thank you for the prompt response.

Dtale is amazing btw!

[2021-05-12 10:56] fredzannarbor commented on #475
I tried replacing global_state.py in my site-packages with this version (475) but I am still experiencing an error.

I can create new instances using create-df but when I hit active-instances I get the traceback below.

[code]

[code]

[2021-05-12 11:31] aschonfeld commented on #475
You need to change:
metadata = dtale.global_state.get_name(data_id)

to
metadata = dtale.global_state.get_metadata(data_id)

[2021-05-12 23:59] fredzannarbor commented on #475
gunicorn working like a champ in dev.  thanks!

Can you let me know when pip is updated with these changes, so I can upgrade my production environment without patching?

[2021-05-12 23:59] #475 closed

[2021-05-13 03:53] aschonfeld commented on #475
Glad to hear it! Yea i wanted to get a release out yesterday but then there were a ton of package changes and i’ve battling those.  I can probably cut a release tomorrow with your changes and then leave off some additional package upgrades til the next release

[2021-05-13 17:59] aschonfeld commented on #475
@fredzannarbor just released v1.46.0 to pypi and conda-forge is in flight

[2021-05-13 18:01] aschonfeld commented on #140
Added in v1.46.0

[2021-05-13 18:01] #140 closed

[2021-05-13 20:57] fredzannarbor opened #480 "flexible branding?"
Might it be possible to configure the layout so that "D-TALE" in the top left can be replaced by a string or image for the host website?  I do not see the need to change things like the file structure (dtale/ is a pretty big clue) but would like to give users the impression they are still on the same site.

[2021-05-14 03:19] aschonfeld commented on #480
Yea let me see what i can come up with. The hard part is that “D-Tale” is actually a font and not an image so it will be tough for someone to swap something out with equal size. But i guess the work to correctly size the image would be on them so its all good 👍

[2021-05-14 04:09] fredzannarbor commented on #480
I don't mind the D-Tale font! In a perfect world, I'd like to be able to tweak the font, style, and string.

[2021-05-17 02:12] m-ciniello opened #483 "Dtale not working on AWS Sagemaker Juptyer Notebook"
I'm having trouble getting dtale to work in my AWS sagemaker notebook instances. Everything seems fine at first, but when I try to display a dataframe I get an error message that says "localhost refused to connect".
[code]

[2021-05-17 02:26] aschonfeld commented on #483
Hmm, i’ve never used sagemaker before but under the hood of “dtale.show” it tries to figure out the name of the host where D-Tale will be running. But if you’re running a notebook and have the ability to install “jupyter-server-proxy” then you can use that to help host D-Tale in notebooks spun up uaing other services.  Heres the documentation: https://github.com/man-group/dtale#jupyterhub-w-jupyte

[2021-05-17 02:35] aschonfeld commented on #483
Looks like a package does exist for notebooks in AWS: https://pypi.org/project/aws-jupyter-proxy/

if you use that then you can still use the settings in the “jupyter server proxy” docs i sent but make sure to specify your path using the “app_root” parameter to “dtale.show”

[2021-05-17 13:53] m-ciniello commented on #483
I have pip installed the jupyter-server-proxy and tried the following (per the docs), and now I'm getting a _404 : Not Found
You are requesting a page that does not exist!_ error.

[code]

[2021-05-17 17:29] aschonfeld commented on #477
@Azrael1 here's what I have so far.  This is using a giant string of 1369 characters and I just created a dataframe with random substrings of this long string:
[code]

https://user-images.githubusercontent.com/11547371/118531205-94953480-b713-11eb-8058-4793c1b3444d.mov

So the idea is that you can adjust the maximum width of the columns in your grid using that slider or the text input from the rib

[2021-05-17 17:36] aschonfeld commented on #477
Now I'm going to work on trying to add a view at the top (similar to excel) which will appear when you double-click a cell for editing.  And it will be hidden when nothing is being edited.  Currently you can press "Esc" to exit editing.

[2021-05-17 21:44] aschonfeld commented on #483
Good news, I messed around with Sagemaker and was finally able to get this working
![image](https://user-images.githubusercontent.com/11547371/118560177-10ed3f00-b737-11eb-9904-4cc476890d11.png)

The key was that I had to install the `@jupyterlab/server-proxy` extension, wait for the server to rebuild and then start my D-Tale instance using the code snippet:
[code]

Then from there you should be a

[2021-05-17 21:45] aschonfeld commented on #483
Also, I had to install the extension using the extension manager which needs to be turned on from the "Settings" tab in Sagemaker

[2021-05-17 23:59] m-ciniello commented on #483
It works! Thanks so much for the help!

[2021-05-18 00:17] aschonfeld commented on #483
@m-ciniello when you get a sec please toss your ⭐️ on the repo 🙏

[2021-05-18 00:17] #483 closed

[2021-05-19 00:03] aschonfeld commented on #477
@Azrael1 getting a little further...

https://user-images.githubusercontent.com/11547371/118738050-179db400-b814-11eb-9d66-30c24d8c200c.mov

[2021-05-20 05:45] Azrael1 commented on #477
Thanks a bunch, this really helps. Should I close the issue then?

[2021-05-20 07:45] jnissin commented on #472
Sorry for the long answer period for some reason I didn't get notifications from this to my email. This looks like just what I need! Thank you so much! I'll upgrade our systems to the new version right away and test this :)

[2021-05-20 12:09] aschonfeld commented on #477
I’ll keep it open until I do a release in a few days. Just need to add some test coverage

[2021-05-20 12:10] aschonfeld commented on #472
Great! I’m actually putting the finishing touches on a way to update that max width from the UI. There are some demos in this issue: https://github.com/man-group/dtale/issues/477

[2021-05-20 13:52] jnissin commented on #472
That looks really nice as well. Very helpful for us where the end user might be someone else than a developer 👍

[2021-05-20 14:34] reza1615 opened #484 "Showing ratio on Stacked bar chart"
Hi Is it possible to show the ratio of each group on the stacked bar chart?
![image](https://user-images.githubusercontent.com/2202483/118998008-19bc5b80-b957-11eb-8ac3-f3d7cd4c5be7.png)

[2021-05-20 14:52] reza1615 opened #485 "Correlation Matrix - expandable height"
Hi, would you please make it possible to change the size of the matrix window?
Now the window is narrow and needs to scroll.
![image](https://user-images.githubusercontent.com/2202483/119000846-74ef4d80-b959-11eb-8ad9-22d4739f7783.png)

[2021-05-20 15:05] reza1615 opened #486 "Correlations Scatter - make 15K point limitation an editable setting"
Is it possible to have an option to select random 15K records when the number of records is more than 15K?

![image](https://user-images.githubusercontent.com/2202483/119002827-335fa200-b95b-11eb-856d-c78af48511bd.png)

[2021-05-20 15:08] reza1615 opened #487 "correlation shows label 'index' is not unique error"
my index has unique data but it shows the below error.
In my opinion, if the index has duplicated still it should force to show the unique

![image](https://user-images.githubusercontent.com/2202483/119003243-918c8500-b95b-11eb-82ba-cd385966cdbc.png)

[2021-05-20 15:27] reza1615 commented on #486
Also please make this 15K limitation a setting variable. For my case, I have resources to increase it to 1M

[2021-05-20 15:30] reza1615 opened #488 "Pre-Encoding for Correlations"
As you know Correlations just works on the numerical columns and for the categorical doesn't work.
It would be nice to have an option to one-hot (encode) all categorical columns in a batch after that user can get the Correlations.

[2021-05-21 18:21] aschonfeld commented on #480
So tweaking the font will be hard since that will require overriding the CSS somehow.  But I could certainly allow you to change the title from D-Tale to whatever you'd like.  You'll probably run into sizing issues . Anyways here's the small snippet of react which renders the title currently:
[code]
So I could try allowing you to specify your own snippet of HTML which can replace this, but I'm not

[2021-05-21 18:34] reza1615 opened #490 "Charts: stratified random samplin base on a target"
Now the random sampling for charts doest apply stratified
sampling based on target.
It would be helpful to have a drop down to set the target column and generate stratified samples based on that.
It will help to have the same distribution of the whole data set.

[2021-05-21 18:37] aschonfeld commented on #487
@reza1615 can you give me some more information about the structure of your data?
* is this timeseries data?
* or is this a correlation of two columns as a whole?

[2021-05-21 19:08] aschonfeld commented on #477
@Azrael1 this has been released to pypi in v1.47.0 (it will be in conda-forge shortly).  Please throw your ⭐  on the repo if you haven't done so already.  And let me know if you hit any issues 🙏

[2021-05-21 19:08] #477 closed

[2021-05-21 20:41] fredzannarbor commented on #480
That snippet would work fine for now.

I am running D-Tale as a standalone and linking to it from my original app for simplicity's sake -- I wanted to be able to isolate D-Tale while I get it working. Eventually, I do want to integrate it so that I can take advantage of my app's user model, dbs, etc.

[2021-05-21 20:58] reza1615 commented on #487
1-it is tubular data for binary classification like housing data
2-yes it is correlation of two columns as whole and it shows for all columns

[2021-05-22 01:14] reza1615 opened #491 "Overlap histogram Chart"
It would be nice to have overlap histogram of a different distributions
![image](https://user-images.githubusercontent.com/2202483/119210238-2afd8900-ba79-11eb-82d7-cd5c4b44e64d.png)
for example in above chart 40-100 is conflict region
use case:
checking conflict of the distribution of a column per target. for example see witch range of a column have target 0 and 1
base on this chart we realize da

[2021-05-22 02:10] reza1615 opened #492 "target encoding"
It would be helpful to have Target encoding. It needs to get a column as a target and encoding categorical columns based on target distribution.
https://contrib.scikit-learn.org/category_encoders/targetencoder.html

[2021-05-22 02:18] reza1615 opened #493 "another report for the correlation matrix"
It would be helpful that below of correlation matrix to have a sorted tabel of correlated column per a column.
for example:

sorted correlated to col1 score
col5      0.9
col10    0.8
col2       0.5
...

[2021-05-22 02:31] reza1615 commented on #487
I figured out when I delete the index it will resolved.
In my opinion on fly you can run the below snippet before running the correlation code.
df.index = range(len(df))

[2021-05-22 14:56] aschonfeld commented on #485
https://user-images.githubusercontent.com/11547371/119230929-62f1e400-baec-11eb-9ebd-354d1b967ded.mov

[2021-05-22 21:45] fredzannarbor opened #494 "Save custom filters/user settings & preferences"
It doesn't look like there is a way to save custom filters?  That would be a useful feature. My use case is for authors who frequently look at data that is in the same format every time, but typically has been updated with the addition of some new data.  A lot of the time they want to answer the same question -- "how many units have I sold in market X" or whatever.

More broadly, it doesn't seem t

[2021-05-23 15:11] aschonfeld commented on #480
https://user-images.githubusercontent.com/11547371/119266068-48d10800-bbb7-11eb-9d9a-8ae8e69b1ec6.mov

@fredzannarbor Then I go back and update my code that loads the dataframe to D-Tale and add these lines of code before calling `dtale.show`:
[code]

You could also add the following properties to your [global configuration](https://github.com/man-group/dtale/blob/master/docs/CONFIGURATION.md) fil

[2021-05-23 16:36] juanfcocontreras opened #495 "CSV load options dialog"
Lately I use a lot the option to launch dtale from the cli. However, while it works perfectly for excel files, it is not always the same for csv files.

The problem with csv files is that there are multiple variants, so sometimes they have different separators, or do not include headers.

Would it be possible to include a dialog after dragging a csv file to dtale to open it, where you can select w

[2021-05-24 00:01] aschonfeld commented on #486
So I'm going to add a `charts` section to the global configuration file which will hold the limits on points sent to the client.  Here's a demo:

https://user-images.githubusercontent.com/11547371/119280888-662ac400-bc01-11eb-918d-8e216ab20583.mov

@reza1615 so to change the title I updated my startup code that loads the dataframe to D-Tale and add these lines of code before calling `dtale.show`:

[2021-05-24 09:50] reza1615 commented on #486
That is great please also point to the above code snipt in the warning text to help user to solve the sucuation.

[2021-05-24 20:43] aschonfeld commented on #487
So the issue was that when I was calculating the scatter I created a temporary column called `index` and so if there was an additional column named `index` being used in the correlation then that would cause our sorting issue with non-unique column names.

I have since updated the code to use `_scatter_index` (which still may cause a non-unique issue if there is a column of that name) which should

[2021-05-24 21:10] aschonfeld commented on #484
So there's currently a bug with this function (I have a fix for it that hasn't been released yet) but perhaps you could use the "Percentage Count") aggregation to get the number you're looking for.

[2021-05-24 21:11] aschonfeld commented on #488
Can you refresh my memory on how the "one-hot" (encode) works?  We made column builders for this, correct?

[2021-05-24 21:12] aschonfeld commented on #495
Of course! I meant to add additional options for CSV parsing, but never got around to it.  I like this idea of having an intermediary popup which you can either click past or change the values.

[2021-05-24 22:30] reza1615 commented on #488
yes we have column builder.
Image the data has 20 categorical column. to have onehot for all of them to get correlation we should 20 times in column builder create onehot column

[2021-05-25 02:57] aschonfeld commented on #488
* So what if I added a toggle which checks for any string or categorical column and auto convert using OneHotEncoder
* Also what if there was a toggle to add in date columns which have been converted to millisecond timestamps

[2021-05-25 06:45] SaudAltamimi opened #496 "dtale with authentication on Active Directory."
Dear All,
Hope you are well,

I want to integrate D-Tale with our Active Directory to authenticate users so the user don't have to login again to d-tale.

Does d-tale accept API requests or web services ?

Thanks,

[2021-05-25 10:34] reza1615 commented on #488
In my opinion when we open correlation window
1-A multi select drop down lists all dtype(object)
2-An exclud multi select drop down list all column with high cardinality
(df['A'].nunique()>50) as exclud from one-hot
3-by default user only get numerical col correlation
4-by click on a button Dtale convert all object columns -exclud the second
list then calculate correlation.

for the date why you w

[2021-05-25 11:14] reza1615 opened #497 "Auto report"
It would be useful to have auto EDA which user can get overall idea about the data in one muti tab reports.

In each tab it would have the below reports and user can set n and m and target at the top for m and target and at each line for n.

Tab 1: General informations
*  Data shape
*  No. Categorical columns
*  No. Date columns
* No.  Numerical columns
     * No.  Int columns
     * No. float col

[2021-05-25 11:36] reza1615 opened #498 "New tab to Column describtion window for target"
I would be useful to have all descriptive reports and numbers per target lable
Now we have these reports for whole column. My request is to have separate reports for each rows where target ==a.
For binary target a would be 0, 1
for each category we would have separate tab
For example

Tab1 whole column, Tab2: Target ==0, Tab3: Target==1

[2021-05-26 05:10] firmai opened #499 "Dash embedding"
Hi Kudos for the project, haven't seen this asked before, is there a way to integrate it with a Dash app?

[2021-05-26 18:56] reza1615 opened #500 "Wrong code snippet in the Build Column"
![image](https://user-images.githubusercontent.com/2202483/119715851-75dd1f00-be32-11eb-8a22-b484540ed3d5.png)

/d should be \d

[2021-05-27 03:28] aschonfeld commented on #499
So D-Tale actually uses Dash under the hood for its chart builder.  But to answer your question, if you're building a dash app then you should be using flask.  And it is pretty easy to embed D-Tale into your own flask application.  Here is some documentation on how: https://github.com/man-group/dtale/blob/master/docs/EMBEDDED_FLASK.md

Let me know if you run into any issues or have any questions

[2021-05-27 03:32] aschonfeld commented on #496
So currently I've only added an optional "plain vanilla" version of authentication to D-Tale (heres some [docs](https://github.com/man-group/dtale#authentication)) but if there is another type of authentication you would like integrated.  I can certainly do that for you if you can give some more background about how it can be accomplished in flask.

[2021-05-27 11:48] reza1615 commented on #500
The code is not complete
![image](https://user-images.githubusercontent.com/2202483/119820813-df573f00-bebf-11eb-8d71-e40c64122c78.png)

[2021-05-27 11:49] reza1615 commented on #500
Undefined function.
![image](https://user-images.githubusercontent.com/2202483/119821018-16c5eb80-bec0-11eb-970d-942db5a4de4f.png)

[2021-05-27 11:52] reza1615 opened #501 "UI"
please align the botton hight
![image](https://user-images.githubusercontent.com/2202483/119821265-58ef2d00-bec0-11eb-83ca-561a9f6ae430.png)

[2021-05-27 11:54] reza1615 opened #502 "Allow to replace the existing column for cleaning functions"
Please make it possible to inplace the result on the existing column
![image](https://user-images.githubusercontent.com/2202483/119821529-ab304e00-bec0-11eb-9b8e-0a4b97db2196.png)

[2021-05-27 11:57] reza1615 opened #503 "Cleaning should have sperate window"
Now cleaning is inside the build column. In my opinion, it should be in a separate window.
Cleaning also should accept Inplace replacement as i mention in #502
![image](https://user-images.githubusercontent.com/2202483/119821858-095d3100-bec1-11eb-83ca-75a36d86b0e2.png)

[2021-05-27 12:07] reza1615 commented on #501
In the description window please make

- top > Most Frequent
-  unique >Unique

![image](https://user-images.githubusercontent.com/2202483/119823207-8a68f800-bec2-11eb-8ad3-d54c1196766b.png)

[2021-05-27 12:23] reza1615 opened #504 "UI Bug: Describe window"
In the describe window on a text column when I toggle between **Word Value Counts** tab and **Describe** tab. the **Word Values** stays from **Word Value Counts** tab and doesn't show "Unique Values"  any more.
Also to make it more clear please change "Unique Values" > "Unique Row Values"

https://user-images.githubusercontent.com/2202483/119824561-09aafb80-bec4-11eb-8b8d-0a9b5efb31cf.mp4

[2021-05-27 12:54] reza1615 opened #505 "Features for the Filtering data"
It would be nice to have the below features for the Filtering data:
- **Invert filter**: Inverting the filter condition .
   Use case:  I filter outlier based on the Describe window. After that I need to see data without outliers. Now it just show the data with outlier (Image in below)
- **Drop rows**: Drop rows based on the filter.
Use case: In the EDA process we need to remove outliers and after

[2021-05-27 13:27] reza1615 commented on #498
It can be like below
![image](https://user-images.githubusercontent.com/2202483/119834048-9c9c6380-becd-11eb-9c00-bc4d7682d3ee.png)

[2021-05-28 20:22] aschonfeld commented on #501
@reza1615 not sure I understand the first half of this issue.  Which part needs to be aligned?

[2021-05-28 20:59] aschonfeld commented on #496
@SaudAltamimi if you're asking about enabling LDAP authentication then it looks like it would be pretty simple for me to add (assuming you'd be fine going to a login screen when you first open D-Tale) https://stackoverflow.com/a/42296880/12616360

I can't really wrap my head around how to share a login token between a separate app & D-Tale so that is why it would require the user to hit a login sc

[2021-05-28 21:01] aschonfeld commented on #491
@reza1615 could you supply me with some code to generate values that would populate a chart like this?

[2021-05-28 21:03] aschonfeld commented on #492
Where would this feature reside?  Is this a new column builder?  A new data summary?

[2021-05-28 21:37] reza1615 commented on #501
Exponential smooting the button height is less than others

[2021-05-28 21:58] aschonfeld commented on #501
Ahhh, yes i saw that in your screenshot. Whats odd is that it looks completely normal in my browser. I’ll do a deep dive on the css

[2021-05-28 22:43] reza1615 commented on #501
It is in chrome windows 10

[2021-05-28 22:48] reza1615 commented on #500
in the https://github.com/man-group/dtale/commit/a8b918ab6ff120d605066972a2b4e40db1d6f8b8
replace - should be \\- in regex - inside [ ] should be escaped

[2021-05-28 22:52] fredzannarbor commented on #505
I also strongly suggest Save Current Filter and Save Custom Filter.

[2021-05-28 22:53] reza1615 commented on #492
It is encoding base on target (base on a column)

https://contrib.scikit-learn.org/category_encoders/targetencoder.html

[2021-05-29 00:14] aschonfeld commented on #504
Fixed in v1.48.0

[2021-05-29 00:14] #504 closed

[2021-05-29 00:14] aschonfeld commented on #502
Updated in v1.48.0

[2021-05-29 00:14] #502 closed

[2021-05-29 00:16] aschonfeld commented on #500
The first two have been fixed.  I couldn't reproduce your 3rd issue and does you most recent comment mean that the actual code for "Replace Hyphens w/ Space" needs to change as well?

[2021-05-29 00:17] aschonfeld commented on #501
The labels have been updated in v1.48.0

[2021-05-29 00:17] aschonfeld commented on #488
added in v1.48.0

[2021-05-29 00:17] #488 closed

[2021-05-29 00:17] aschonfeld commented on #487
fixed in v1.48.0

[2021-05-29 00:17] #487 closed

[2021-05-29 00:18] aschonfeld commented on #486
Updated in v1.48.0

[2021-05-29 00:18] #486 closed

[2021-05-29 00:18] aschonfeld commented on #485
Added in v1.48.0

[2021-05-29 00:18] #485 closed

[2021-05-29 00:18] aschonfeld commented on #480
Added in v1.48.0

[2021-05-29 00:18] #480 closed

[2021-05-29 00:19] aschonfeld commented on #484
@reza1615 please give "Percentage Count" a try it has been updated in v1.48.0

[2021-05-29 01:50] fredzannarbor commented on #480
Looks great!  Thanks.

[2021-05-29 02:56] reza1615 commented on #500
Yes the regex should be changed
just replace - with \\-

[2021-05-29 03:48] HindyDS opened #507 "Generate Charts inside the jupyter notebook notebook instead of popping up a new window"
Generate Charts inside the jupyter notebook notebook instead of popping up a new window

[2021-05-29 04:34] reza1615 commented on #507
You have code snippet and you can use it in jupyter notebook

[2021-05-29 05:13] HindyDS commented on #507
U mean the code export right? That’s what I tried in the first place, but I
just find multiple  errors in the code exported. So I just wanna use the
cell as the plot directly instead of exporting the code.

「Reza ***@***.***>」在 2021年5月29日 週六，下午12:34 寫道：

[2021-05-29 13:27] reza1615 commented on #491
@aschonfeld: please find the overlap histogram function in attached.
I zipped it because github doesn't support Jupyter notebook

[code]
![image](https://user-images.githubusercontent.com/2202483/120072025-ba013700-c05f-11eb-9543-e4d0e34f56b9.png)

[Overlap Histogram.zip](https://github.com/man-group/dtale/files/6564740/Overlap.Histogram.zip)

[2021-05-29 14:44] reza1615 commented on #491
With graph_objects
[code]

[2021-05-29 14:45] reza1615 commented on #491
With plotly.express
[code]

[2021-05-29 15:34] reza1615 commented on #507
@aschonfeld : I couldn't find code snippet for charts. May be we need to add it to the chart window

[2021-05-29 15:42] reza1615 opened #509 "Change side window width"
Please make a possibility to change the side window's width

![image](https://user-images.githubusercontent.com/2202483/120076288-d8bcf900-c072-11eb-9c8c-0fab59bee2ee.png)

[2021-05-29 15:46] reza1615 commented on #500
Still it shows the Code as undefined()
![image](https://user-images.githubusercontent.com/2202483/120076403-626cc680-c073-11eb-8a67-469a9756003a.png)

[2021-05-29 15:49] reza1615 commented on #498
For testing you can use from https://www.kaggle.com/c/titanic/data and check col x for example **Age** against **Survived**

![image](https://user-images.githubusercontent.com/2202483/120076483-b7a8d800-c073-11eb-820b-0cf827b8dc6b.png)

[2021-05-29 16:11] aschonfeld commented on #495
@juanfcocontreras here's what I got so far.  You'll have to let me know of any other options to add (also I still need to find a way to add these options to the URL-style CSV loading & I need to update the TSV file drops)

https://user-images.githubusercontent.com/11547371/120077159-01df8880-c077-11eb-8cad-f9628f3b09f9.mov

[2021-05-29 16:19] juanfcocontreras commented on #495
I see it as perfect for the moment. I can think of some possible improvements:

- a small preview of the first lines of the file in that same window, so you don't have to open the file externally and check if it has a header or not, and the same to find out the separator
- instead of writing the separator, to offer a drop-down with the most common ones (whitespace , ; \t), but giving the option of

[2021-05-29 19:07] aschonfeld commented on #500
How are you able to get to where you don't have a "Case" selected? Thats what is causing this but I can't figure out how to do it on my end so I can fix it.

[2021-05-29 19:11] aschonfeld commented on #500
Nevermind, I figured it out.  I'll just make it stay hidden until you've actually selected a case, unless you want me to select a specific case by default.

[2021-05-29 19:31] aschonfeld commented on #501
Figured out the button height issue, will be in the next release.

[2021-05-29 19:40] aschonfeld commented on #507
@reza1615 the code export is located here
![image](https://user-images.githubusercontent.com/11547371/120082836-277a8b00-c093-11eb-9940-945ae9527a37.png)

@HindyDS if you would like to open a cell in your notebook directly to the charts page you can do that by doing the following:

[code]
Now be aware that if your browser window isn't open wide enough the chart type tabs will appear a little wonky

[2021-05-29 19:46] aschonfeld commented on #495
So I added a dropdown with the following options (comma, tab, colon, pipe & custom) and when "custom" is selected there will be text input displayed as you saw in the demo I posted earlier.

As for the other two options I'll probably leave those down the line for version 2.0 of this functionality.  That being said, I'm not really sure how you're 3rd request will be possible without storing the unp

[2021-05-29 19:51] juanfcocontreras commented on #495
This is perfect, thank you!

I understand that, and honestly, the third option I think is too complex for the number of times it would be used.

Nevertheless, I thin the first one, preview the first lines of the CSV file in that same dialog, is much more useful and will be used much more.

Thanks for everything!

[2021-05-29 19:55] aschonfeld commented on #494
So these features, while very useful, would require some sort of data storage mechanism to come pre-packaged with the software.  Without something like that there would be nowhere to store information like that.  Same goes for the user-based information, we would need to be able to store that information somewhere.

The best option I could offer is to allow you to save custom filters (meaning filt

[2021-05-29 20:08] fredzannarbor commented on #494
Well, yes.  I think "we" should bite the bullet and add a user database. Ideally SQLlite and compatible with Flask & Django.

The reason is inherent in dTale's nature: it is by design a **super powerful interface** for exploring **complex** data.  Simply put, almost every time I use dTale as a data browser, I am doing a new calculation that is complex and that I may want to do again in the future.

[2021-05-29 20:22] aschonfeld commented on #494
Please, by all means, make a fork and see how far you can get with it. If you get far enough i can look into making it an optional dependency.

[2021-05-29 20:23] fredzannarbor commented on #494
I'll give it a whirl!

[2021-05-29 21:23] aschonfeld commented on #494
That would be awesome, thank you!

[2021-05-30 00:49] HindyDS commented on #507
@aschonfeld just tried out the code but no plots.
![image](https://user-images.githubusercontent.com/69097028/120088510-e088a600-c123-11eb-9506-ff2df463c693.png)

[2021-05-30 01:05] aschonfeld commented on #507
@HindyDS so that will just fet you to the “Charts” page. You’ll have to build the plot you want at that point just like you would using the browser. Once you do that you can click the “copy link” button and then pass that to the “d.notebook” function to  have it popup automatically in the future.  Not sure if this is what you were looking for.

Also let me know what kind of chart you tried the “co

[2021-05-30 15:36] aschonfeld commented on #509
So it's a little janky but this was the best I could do:

https://user-images.githubusercontent.com/11547371/120110381-30bf3280-c13b-11eb-89be-7935b659ba82.mov

[2021-05-31 08:08] HindyDS commented on #507
Thanks. I gonna try you suggestion.

Actually I was just playing dtale with the titanic dataset. Around 4/5 of
the code exported had about 3 mistakes, besides, ‘figure.show()’ were
always missing. Maybe I need to install a newer version of dtale.

「Andrew Schonfeld ***@***.***>」在 2021年5月30日 週日，上午9:05 寫道：

[2021-06-01 17:53] aschonfeld commented on #507
@HindyDS can you send me the contents of the "Code Export"?

[2021-06-01 17:55] aschonfeld commented on #491
Thanks @reza1615

[2021-06-01 18:02] aschonfeld commented on #491
Ok so after looking over this and the docs for chart.js this should definitely be doable.  One last question, what columns should be considered a "target"? Anything with less than 20 unique values?  Honestly you'd probably want it even lower than that because the chart will be very cluttered.

[2021-06-01 18:06] reza1615 commented on #491
In my opinion make it open to any column but before applying columns with more than 20 show a warning. some times chacking pairvize two features is usuful

[2021-06-01 18:07] reza1615 commented on #491
https://seaborn.pydata.org/generated/seaborn.pairplot.html

[2021-06-02 15:47] rexdwyer opened #510 "dtale.show changes working directory"
When I use detail.show in my Jupyter notebook, I find that it moves my working directory up one level.  Consequently, I get an error loading files after that.

![image](https://user-images.githubusercontent.com/12126368/120511320-4e3d0800-c398-11eb-927b-0db05bf11051.png)

[2021-06-02 16:12] aschonfeld commented on #510
Wow, good catch! I’ll definitely dig into this

[2021-06-04 04:27] artemizawoodgate commented on #415
Thanks for improving this heatmap feature. Would it be possible to unhide an index or select non-numerical columns (e.g. date and name)? I love the "overall heatmap" feature as it looks at the outliers across a large table, but without the non-numerical index/columns it's a little harder to identify where the outliers are. The "by col" option works well in a small sample, but across a large table

[2021-06-08 02:08] aschonfeld commented on #510
Hmm, I tried running it locally and did not receive the same issue.

https://user-images.githubusercontent.com/11547371/121111246-856a4980-c7dc-11eb-807a-c68c9c250c1f.mov

I was running Python 3.8 in that example and here's the packages I have installed:
[code]

[2021-06-08 02:19] aschonfeld commented on #510
@rexdwyer I see that in the example that you provided that `dtale.show` was the 12th command executed.
 Could you try using the snippet in this [stack overflow post](https://stackoverflow.com/a/35665295/12616360) and running it right before executing `dtale.show` (pointing to the correct location) just so we can see if D-Tale truly is changing your working directory.

[2021-06-09 03:12] aschonfeld commented on #415
@artemizawoodgate I have added the feature you're looking for and will include it in the next release.  Here's a demo:

https://user-images.githubusercontent.com/11547371/121287061-e19d9e00-c8ae-11eb-8c7f-bd8aaabc9110.mov

[2021-06-09 06:30] artemizawoodgate commented on #415
Awesome, thank you very much!

[2021-06-09 19:18] rexdwyer commented on #510
Hi Andrew, Interesting results.  It looks to me like the first show
probably imports something that causes the problem.  Then on subsequent
shows, the import is a no-op, so nothing happens.

I did a pip freeze; I guess there are no company secrets in there.

The workaround for me is clear.  Unfortunately, I can't give you much time
for this.  I really like the  package, though.

On Mon, Jun 7, 202

[2021-06-10 02:49] aschonfeld commented on #503
@reza1615 this actually already exists for columns with a dtype of "string"

https://user-images.githubusercontent.com/11547371/121456978-eaf13e00-c974-11eb-829b-fc7dde99e88f.mov

[2021-06-10 03:30] reza1615 commented on #503
I know it is exist. I mean we need to move cleaning part to a new window. The new window or menu's name should be cleaning.
Now it is under creating column which doesn't make sense

[2021-06-10 03:43] aschonfeld commented on #509
added in v1.49.0

[2021-06-10 03:43] #509 closed

[2021-06-10 03:44] aschonfeld commented on #501
fixed in v1.49.0

[2021-06-10 03:44] #501 closed

[2021-06-10 03:44] aschonfeld commented on #500
fixed in v1.49.0

[2021-06-10 03:44] #500 closed

[2021-06-10 03:44] aschonfeld commented on #495
added in v1.49.0

[2021-06-10 03:44] #495 closed

[2021-06-10 03:45] aschonfeld commented on #491
added in v1.49.0

[2021-06-10 03:45] #491 closed

[2021-06-10 03:45] aschonfeld commented on #484
@reza1615 any update?  Did "Percentage Count" work?

[2021-06-10 11:45] aschonfeld commented on #503
I’m confused, the button to activate that popup was named “Clean Column” & the header said “Clean [column name]”.  It was a completely separate popup from “Column Builders”

[2021-06-10 12:33] reza1615 commented on #503
![image](https://user-images.githubusercontent.com/2202483/121525573-8068ee00-c9c6-11eb-9e8b-2aa3277b3d5e.png)

[2021-06-10 12:39] reza1615 opened #513 "Titanic dataset"
Please add Titanic dataset to the demo for the binary classification machine learning examples

[Titanic.zip](https://github.com/man-group/dtale/files/6631413/Titanic.zip)

[2021-06-10 12:48] aschonfeld commented on #503
Sorry that was unclear. So you just want another button added to the main menu. Not sure how much you gain from that, but sure thats easy enough.

[2021-06-10 12:58] reza1615 commented on #503
Now The cleaning is under building column which is the command hierarchy is not clear. thank you for reopening

[2021-06-10 13:02] reza1615 opened #514 "Histogram with target"
1- Please make the bins title more clear
2- the first row isn't clear. what is it?

![image](https://user-images.githubusercontent.com/2202483/121529100-118d9400-c9ca-11eb-8d59-8a907ffa7c8c.png)

[2021-06-10 13:08] reza1615 commented on #491
The current chart is great and useful please keep it. It also can be generated by the below chart
![image](https://user-images.githubusercontent.com/2202483/121530339-536b0a00-c9cb-11eb-8e4e-17ee6c3067e5.png)

[2021-06-10 13:14] reza1615 opened #515 "adding dataframe.index() to chart axis"
Please add df.index() as an option for X or Y. Now building aggregation chart, based on a column is not possible.
the variable can be like **`__index__`**
Here I used **Id** column. if the id column doesn't exist or had duplication it cause some issues
![image](https://user-images.githubusercontent.com/2202483/121531182-2e2acb80-c9cc-11eb-9b01-51dcca587255.png)

[2021-06-10 18:23] reza1615 commented on #484
Yes it works like a charm. Thanks
May be changing its name to
**Count (Percentage)**
is better because it will sort after **Count** and user can find all existing options

[2021-06-13 14:24] aschonfeld commented on #513
Just the `titanic.csv` from that ZIP file?

[2021-06-13 14:29] aschonfeld commented on #510
@rexdwyer Apologies for the inconvenience.  If I come across the same issue on my jupyter notebooks I'll let you know.  Thanks for the kind words, feel free to put your ⭐ on the repo when you get a sec.  🙏

[2021-06-13 15:30] aschonfeld commented on #492
Can you give me some example code using this?  I'm going to add this as an optional dependency to D-Tale and if the user has not installed `category-encoders` then they will not have access to this functionality.

[2021-06-13 20:54] reza1615 commented on #513
Yes please

[2021-06-14 01:52] aschonfeld commented on #513
http://alphatechadmin.pythonanywhere.com/dtale/main/7

[2021-06-14 01:52] #513 closed

[2021-06-14 02:03] aschonfeld commented on #493
@reza1615 are you saying as you click each column it shows a sorted list of correlations with the other columns?  Or are you just asking for the ability to sort columns in Correlation matrix?

[2021-06-14 02:07] #499 closed

[2021-06-14 02:42] aschonfeld commented on #505
##Invert Filter##: when applying the outlier filter it actually removes the outliers (I know the auto-refresh is broken currently which I have a fix for) so inverting will show only the outliers
##Drop Rows##: So it is sounding like these changes are strictly related to the outlier filters.  Do you want this functionality available for any filter you've entered?
##Auto-Refreshing##: As mentioned e

[2021-06-14 04:06] reza1615 commented on #493
I need to have decending sorted list of corelated features
For example. I need to know which features are the most corelated to the col1

[2021-06-14 04:09] reza1615 commented on #505
Thanks for fixing autorefress
Dropping rows base on filter would be useful. for example I need to just work on houses with >=3 rooms

[2021-06-15 02:19] SundarakumarK opened #516 "AttributeError: module 'dtale' has no attribute 'auth'"
Hi All,

I get this error when i try to import dtale. Can someone please help guide me on how this can be tackled?

[2021-06-15 03:04] aschonfeld commented on #516
I'm on the latest version of D-Tale (1.49.0) and I have no come across this issue.  If you're running a virtual environment then try running the following:
[code]

If that doesn't work can you send me the full stacktrace of the exception?  Or is the AttributeError the full stacktrace?  Also, can you send me how you're invoking `dtale.show`?  You don't have to tell me anything about the data you're

[2021-06-15 04:01] aschonfeld commented on #505
Here's what I got for "Drop Rows":

https://user-images.githubusercontent.com/11547371/121990937-a7c80e00-cd6c-11eb-8749-6b27229b956b.mov

[2021-06-15 06:29] SundarakumarK commented on #516
Hi,

Thank you for the reply.

I tried uninstall and reinstalling the updated version, no luck.

Here is the full error

import dtale
Traceback (most recent call last):

  File "<ipython-input-150-33560840fdc5>", line 1, in <module>
    import dtale

  File "C:\ProgramData\Anaconda3\lib\site-packages\dtale\__init__.py", line 6, in <module>
    from dtale.app import show, get_instance, instances, o

[2021-06-15 09:59] reza1615 commented on #505
That is greate. Thanks

[2021-06-15 20:14] reza1615 opened #517 "Keep less correlated columns"
It would be a great feature for dtale to keep just effective features based on a threshold.
I checked this ticket
https://stackoverflow.com/questions/29294983/how-to-calculate-correlation-between-all-columns-and-remove-highly-correlated-on?answertab=votes#tab-top
There is my snippet

[code]
I compared my method and others based on the attached csv. Other's has the below issues
* drop both high rel

[2021-06-16 02:31] aschonfeld commented on #516
Ahhh, so you're using anaconda. Could you try the following:

[code]

If that still fails then I would try removing the package directly `rm -r C:\ProgramData\Anaconda3\lib\site-packages\dtale`

Hope this helps.  I know that conda sometimes has problems with installing software sometimes which is why I prefer managing my own virtual environment using pyenv + pip

[2021-06-16 20:15] aschonfeld commented on #493
Ok, what I will do is implement sorting on the correlations grid.  That way you just need to click the header at the top to see the most/least correlated features.

[2021-06-17 01:45] aschonfeld commented on #493
https://user-images.githubusercontent.com/11547371/122317769-0ff12e00-ceec-11eb-8d48-afc632f27cdc.mov

[2021-06-18 03:23] aschonfeld commented on #517
@reza1615  what if I added a button which ran your code and displayed the columns which would get dropped from it and then users can decide whether to drop them or not.  Maybe also display information about the max scores across each column as well so their not just agreeing to drop the columns on blind faith 😄

Let me know if you have a better way to display this information

[2021-06-18 03:25] aschonfeld commented on #515
I believe charts do work using the index right now by choosing the "No Aggregation" option from the **Aggregation** dropdown.  It essentially allows you to build a chart which ignores duplication.

Are you asking that we allow for the raw index (0, 1, 2,..., N) to be one of the column options in the X, Y, or Z dropdowns?

[2021-06-18 03:35] aschonfeld commented on #514
2) Sorry there must be a bad boolean check in there it should read `0: 37`

[2021-06-18 06:33] SundarakumarK commented on #516
Thanks a ton !

Awesome Library :)

Kudos.

-Sundar

[2021-06-18 06:33] #516 closed

[2021-06-18 12:01] aschonfeld commented on #516
@SundarakumarK no problem! Please toss your ⭐️ on the repo if you havent done so already 🙏

[2021-06-18 13:04] reza1615 commented on #517
That is great Idea. Yes the new popup can have this information as a table

- Max correlation of that column
- Number of columns with correlation more than the threshold
- Number of null or empty cells in that column
- Table can be Sortable based on the columns (Max correlation, Number of correlation)
Some thing like below

Check box | column | Max Correlation | Number of   Correlations | Number o

[2021-06-18 13:08] reza1615 commented on #515
I need aggregation. For example a chart base on **x** and **y == count (x)**
Yes we need raw.index() as a an option in dropdown and the name should be clear and distinguish some thing like **raw.index()** or **index()** or **__index__**

[2021-06-18 14:38] aschonfeld commented on #515
I wouldn’t think that an aggregation would be possible since the raw index will always be monotonically increasing and distinct.  So an aggregation will do nothing

[2021-06-18 15:21] reza1615 commented on #515
here for the index, i mean  each raw. so you can create a temp index by df.reset_index().index()

[2021-06-18 20:41] aschonfeld commented on #515
I'm still not 100% following.  You shouldn't need something distinct if you're trying to use the "Count" aggregation as in your screenshot above, but maybe I'm wrong.  I thought it simply counts whatever value you use for Y regardless of whether its distinct or not.

But anyways, sure I can add `df.index()` as an option in the X, Y & Z dropdowns.

[2021-06-21 18:20] appznoix opened #518 "Is there a way to cumsum()?"
The only think I could not do so far with this great piece of software is a way to cumsum a column. Is there a way or am I missing something?

[2021-06-21 18:59] aschonfeld commented on #518
Good catch!  I'll add a button for "Cumulative Sum" next to the "Numeric" button and you'll just have to select any column containing numeric data.

![image](https://user-images.githubusercontent.com/11547371/122813710-42f74100-d2a1-11eb-870c-ada30e429eb2.png)

[2021-06-21 19:02] aschonfeld commented on #517
https://user-images.githubusercontent.com/11547371/122814097-c0bb4c80-d2a1-11eb-9046-023963acebcc.mov

[2021-06-21 19:38] msabramo opened #519 "Possible to display image/HTML data"
I have some columns that have HTML `<img>` tags. Dtale displays the raw HTML rather than rendering the images. Is it possible for me to configure the column type or pass a render function for the column so I can see the images?

[2021-06-21 20:28] aschonfeld commented on #519
I can certainly build a formatter that will allow you to take a column containing HTML and render it as HTML.  I'll include that in the next release.  It will work in a similar way to how I allow for links directly for Simpsons images in this demo: https://www.youtube.com/watch?v=M18vJVcFNBQ&t=1s

[2021-06-21 22:37] msabramo commented on #519
Thanks, @aschonfeld!

[2021-06-22 03:28] aschonfeld commented on #518
https://user-images.githubusercontent.com/11547371/122858454-4a8e0880-d2e8-11eb-9061-d1cca02844b9.mov

[2021-06-23 01:18] appznoix commented on #518
🤩 So glad!

[2021-06-23 01:41] aschonfeld commented on #518
I'll let you know when the new version is released.  I have a couple more issues to add to the release.

[2021-06-23 02:22] aschonfeld commented on #519
@msabramo  I've got HTML strings displaying as HTML, but images get shrunk to the size of the cell.  I'm trying to add a way to display the full image on hover but right now `react-virtualized` is trimming the size of the grid to how many cells there are. So this example is hiding some of the image.  I'll keep working on that, but regardless its not going to be perfect without some really clever C

[2021-06-23 02:28] aschonfeld commented on #519
Nevermind, got it working!

https://user-images.githubusercontent.com/11547371/123025813-378f3d00-d3a9-11eb-8042-22a39c15d964.mov

[2021-06-23 03:46] msabramo commented on #519
Nice work, @aschonfeld! Thanks! Is there a branch that I can pull down to try it out for my use case?

[2021-06-23 09:05] Nriver opened #520 "wrong indent in Code Export"
Below is the code generated from Code Export for charts.
[code]

Executing it will give following exception:
[code]

1. There are several lines indented with tab instead of spaces and cause syntax error when execute. In above example, there are 5 lines indented with tab.

2. In the last few lines, variable `chart` is quite confusing as it does not appear anywhere in the code above. To make the cod

[2021-06-23 12:52] aschonfeld commented on #519
Sorry, here's the branch: https://github.com/man-group/dtale/tree/bugfixes_20210613

[2021-06-23 13:04] aschonfeld commented on #520
@Nriver sorry about that, looks like I'm missing another closing parenthesis on:
[code]

As for (2), this is a one off scenario where we're trying to render multiple charts in one figure.  I'll try and update the comment to the following:
[code]
Looks like I forgot to update the `iplot` call to use `figure`

[2021-06-23 20:30] aschonfeld commented on #515
I've added it to the X & Y dropdowns and here's your example from above:
![image](https://user-images.githubusercontent.com/11547371/123163879-3e1cc380-d440-11eb-9de2-319fad954e28.png)

[2021-06-24 02:59] aschonfeld commented on #520
Fixed in v1.50.0

[2021-06-24 02:59] aschonfeld commented on #519
Added in v1.50.0

[2021-06-24 02:59] #519 closed

[2021-06-24 03:00] aschonfeld commented on #518
Added in v1.50.0

[2021-06-24 03:00] #518 closed

[2021-06-24 03:02] aschonfeld commented on #517
added in v1.50.0

[2021-06-24 03:02] #517 closed

[2021-06-24 03:02] aschonfeld commented on #515
added in v1.50.0

[2021-06-24 03:02] #515 closed

[2021-06-24 03:02] aschonfeld commented on #514
fixed in v1.50.0

[2021-06-24 03:02] #514 closed

[2021-06-24 03:03] aschonfeld commented on #505
added in v1.50.0

[2021-06-24 03:03] #505 closed

[2021-06-24 03:03] aschonfeld commented on #503
added in v1.50.0

[2021-06-24 03:03] #503 closed

[2021-06-24 03:03] aschonfeld commented on #484
added in v1.50.0

[2021-06-24 03:03] #484 closed

[2021-06-24 03:04] aschonfeld commented on #493
fixed in v1.50.0

[2021-06-24 03:04] #493 closed

[2021-06-24 03:44] Nriver commented on #520
I can confirm the indent is fixed in 1.50.0. While the `iplot(chart)` stays the same. May be you missed something for single chart scenario.

And, I have already starred this repo last year :)

[2021-06-24 03:58] aschonfeld commented on #520
Thanks! Apologies, i’ll make a hotfix tomorrow for other piece

[2021-06-24 18:09] aschonfeld commented on #520
Just release v1.50.1 with a fix for this issue

[2021-06-24 18:09] #520 closed

[2021-06-24 19:06] msabramo commented on #519
Just ⭐ ed it!

This is grerat, @aschonfeld!

A few questions:

1. Is there a way I can programmatically invoke D-Tale, telling it that some set of columns should be rendered as HTML, so I don't need to change it in the UI?

2. Is it possible for me to tell D-Tale to make the row height bigger so that I can show a smallish image inline in the table without having to hover over it? Right now I'm get

[2021-06-25 02:13] aschonfeld commented on #519
@msabramo thanks!
1) so there may actually be a way to do this it just might be a little clunky. I’ll send you a code snippet firat thing tomorrow
2) yea i wanna to do dig into adding more height but its going to be a big undertaking so i decided to just give you what I had for now. You could also force some sizing on your <img> tags if you add ‘style=“height: 25px; width: 25px”’ (it probably wont

[2021-06-25 12:45] aschonfeld commented on #519
@msabramo here's the answer to your first question (assuming this is being run in a jupyter notebook):
[code]

If you want this as a python script:
[code]
This script is a little hacky because when starting up D-Tale in a script it's a long-running process.  So once we call `dtale.show` no more code gets executed.  And because of that we cant have access to what `data_id` is assigned.  But because

[2021-06-25 13:11] reza1615 opened #522 "sorting target column results"
In the column description by target please sort the columns based on number of cases in the pop up.
Now the below Screenshot doesn't show columns which have result
![Screenshot_20210625-090711_Samsung Internet](https://user-images.githubusercontent.com/2202483/123429760-52260980-d595-11eb-8670-848cc0e9e0f2.jpg)

[2021-06-25 13:18] reza1615 commented on #522
in my opinion it should sorted by number, name

[2021-06-25 16:47] msabramo commented on #519
Thanks again, @aschonfeld! This is some of the most responsiveness I've seen in an open-source project! You are obviously very committed to D-Tale. 👏

This looks cool what you posted. Unfortunately, I haven't been able to use it yet, because I'm opening D-Tale from within a Streamlit app, so I'm using `dtale.views.startup` and that doesn't seem to support the `subprocess` keyword argument:

![Scre

[2021-06-25 17:07] msabramo commented on #519
Hmmm this seems to work decently for setting 3 of my columns to display HTML (the images look bad still because they're much too big for the 25px row height, but one thing at a time...)

[code]

[2021-06-26 22:54] aschonfeld commented on #519
@msabramo sorry I completely forgot you were using streamlit.  The way that you're setting `global_state` is the exact way I would have suggested.  Also, you much more control over the `data_id` when using streamlit so thats good news.

As for column widths, you're in luck.  There is an application to change the default width size to not auto-size.  It's treating the HTML as a string, which is pre

[2021-06-27 17:17] aschonfeld commented on #519
@msabramo here's what I got so far in this branch: https://github.com/man-group/dtale/tree/bugfixes_20210627

https://user-images.githubusercontent.com/11547371/123553580-fe105600-d749-11eb-8a99-b6e2e904e5db.mov

[2021-06-28 00:18] aschonfeld commented on #522
![image](https://user-images.githubusercontent.com/11547371/123563817-cecb0a80-d784-11eb-8c6c-3038ad6399b0.png)

[2021-06-28 06:17] ItayKishon-Vayyar opened #523 "Installation - No module named 'plotly.express'"
Hi,
I've tried installing dtale, via conda.
After this [small issue](https://github.com/smicallef/spiderfoot/issues/1124), solved by installing networkx=2.5, I've encountered the following error:

[code]

I understand there's been some change recently to plotly's express submodule, but I can't seem to fix this.

Installed versions:
Python 3.9.5
dtale 1.50.1
plotly 3.10.0

Thanks.

[2021-06-28 10:10] reza1615 opened #524 "histogram per target for categorical columns"
Please also add per target for Categorical columns. The below column description doesnt get per target. for example we need to see ratio of male or female who survived.
Please add it to both **Word value count** and **Value count**
![image](https://user-images.githubusercontent.com/2202483/123619462-327e2380-d7d7-11eb-98ec-8139b04454f3.png)

[2021-06-28 10:17] reza1615 opened #525 "Bin range in column description"
Please add bin range as a second xaxis to the histogram.
For example: I need to know Ratio of survival of each age range.
![image](https://user-images.githubusercontent.com/2202483/123620523-555d0780-d7d8-11eb-8116-8ab62329f99b.png)

[2021-06-28 10:25] reza1615 opened #526 "Improving popup label"
It would be more clear to mention bin range instead of bin number and mentioning the target name.
![image](https://user-images.githubusercontent.com/2202483/123621571-5cd0e080-d7d9-11eb-840d-9957804d3f19.png)

[2021-06-28 10:33] reza1615 opened #527 "In the bar chart the Bin doesn't work"
In the below chart the X axis should be 4 bins. It should be similar to the second screenshot
![image](https://user-images.githubusercontent.com/2202483/123622432-33648480-d7da-11eb-9a3c-e8012341257d.png)

The binned chart
![image](https://user-images.githubusercontent.com/2202483/123622755-9fdf8380-d7da-11eb-9471-94787ea1f8c1.png)

[2021-06-28 10:36] reza1615 commented on #527
Sorry it is my bad. I was confused. the bin is for the Group.
Is it possible Also have it for the X and Y?

[2021-06-28 10:51] reza1615 commented on #527
I purpose the below UI Design for the Bin/Value of each Axis
1- When Value is selected
![image](https://user-images.githubusercontent.com/2202483/123624166-3eb8af80-d7dc-11eb-9978-9cc7653c8ce7.png)

2- When Bin is selected
![image](https://user-images.githubusercontent.com/2202483/123624915-2eed9b00-d7dd-11eb-9687-6b36680e060e.png)

[2021-06-28 10:55] reza1615 commented on #527
This ticket covers some part of #400

[2021-06-28 11:02] reza1615 commented on #371
In my opinion base on the number of rows and Chart performance we should have different random samples. for example
Default_ratio_per_chart ={
        'Heatmap':{
                  'Number Of Rows More Than': 2000
                  'Random Sample Ratio' : 20%
                  },
        'Bar':{
                  'Number Of Rows More Than': 50000
                  'Random Sample Ratio' : 50%

[2021-06-28 11:06] reza1615 commented on #146
duplicate of #371

[2021-06-28 11:06] #146 closed

[2021-06-28 11:54] reza1615 opened #528 "correlation analysis"
1- To make it more clear please:
* Rename it to **Feature analysis by correlation**. for the left to make the title shorter label it as **Feature analysis**
* Max Correlation > Maximum correlation with other columns

2- After draping a column it will drop after that if we reopen the Correlation Analysis still that column remains. for example drop
Pclass and reopen the Correlation Analysis. still s

[2021-06-28 14:49] reza1615 opened #529 "Resampling timeseries"
Pandas has a very useful functionality to aggregating timeseries
For example the below code
[code]
It would be nice to have a subsection for TimeSeries  to resample. (We need a window similar to build columns for time series because timeseries need many enhancements which is specified to them. so it is much better to separate them from build column)
for this enhancement we need these inputs
* date

[2021-06-28 15:05] reza1615 commented on #529
I like the ohlc. It is so interesting
[code]
![image](https://user-images.githubusercontent.com/2202483/123659484-bdbfdf00-d800-11eb-8788-83edb8b8738f.png)

![image](https://user-images.githubusercontent.com/2202483/123659437-af71c300-d800-11eb-9e2c-5d01630d0457.png)

[2021-06-28 15:22] reza1615 opened #530 "typo in the code snippet"
The code snippet needs double **'** now it has single

![image](https://user-images.githubusercontent.com/2202483/123661954-fc569900-d802-11eb-9b4f-da9ba4bdca39.png)

[2021-06-28 15:42] reza1615 opened #531 "UI: organizing the Build Column department"
To make it more clear I purpose the below UI. Also In my opinion its name should be **Data Functionality** or **DataFrame functions**
also theses section can be a tab
![image](https://user-images.githubusercontent.com/2202483/123666915-a3d5ca80-d807-11eb-9839-4e20521f94d0.png)

[2021-06-28 15:51] reza1615 opened #532 "Shift and expanding"
For build column. Please add Shift and expanding functionality
* [shift](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.shift.html?highlight=shift#pandas.DataFrame.shift)
* [expanding](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.expanding.html#pandas.DataFrame.expanding)

[2021-06-28 16:31] reza1615 opened #533 "split timeseries to cycle and trend in chart and as a two new columns"
There is a possibility to split a timeseries to trend and cycle like below.
It can be on fly for chart and new columns in build column department
[code]
Original
![image](https://user-images.githubusercontent.com/2202483/123671672-89eab680-d80c-11eb-8d4d-472b61b529d5.png)

Trend
![image](https://user-images.githubusercontent.com/2202483/123671324-1fd21180-d80c-11eb-81a7-e4ad2ffef0c2.png)

and for

[2021-06-28 19:36] reza1615 commented on #533
Also there are another algorithms which user can select from them. for example
[code]
![image](https://user-images.githubusercontent.com/2202483/123693842-93811800-d826-11eb-938f-fb40e867c042.png)

[2021-06-30 00:33] msabramo commented on #519
Hi @aschonfeld,

Thanks again!

This might be more of a pipenv issue than a dtale one, but I attempted to install your branch with:

[code]

and the command completes, but then I get errors like this when I try to use D-Tale:

[code]

I also tried doing a `git clone` and then doing `python setup.py sdist`, `python setup.py bdist_wheel`, etc. and installing the artifacts of that and I tried `npm ru

[2021-06-30 00:34] msabramo commented on #519
Oh I just realized there's a `yarn.lock`, so I should probably be using yarn instead of npm. Let me see if that helps.

[2021-06-30 00:40] aschonfeld commented on #519
Yea, sorry. yarn will get you where you need to go 😉

[2021-06-30 00:43] msabramo commented on #519
Ah I just got every thing built with yarn and then created an sdist and installed that and it's working in Python. Trying it out now 🎉

[2021-06-30 01:14] msabramo commented on #519
Hmmm I've been doing:

[code]

and it doesn't look like `max_row_height` is being honored?

![Screen Shot 2021-06-29 at 6 14 06 PM](https://user-images.githubusercontent.com/305268/123887144-d4039300-d905-11eb-9bd4-ee2dc7311a53.png)

[2021-06-30 01:20] msabramo commented on #519
Hmmm I am able to set the row height in the UI though and it looks pretty good!

![Screen Shot 2021-06-29 at 6 14 06 PM](https://user-images.githubusercontent.com/305268/123887588-a3702900-d906-11eb-95a1-8d4aa41a8a45.png)

[2021-06-30 01:40] aschonfeld commented on #519
Hmm you should be able to edit the height using the slider as i was able to do in the demo I posted earlier. I can look into why the code isnt being honored though. Sorry about that

[2021-06-30 02:06] msabramo commented on #519
Oh yeah slider is fine. It's just the code that doesn't work. I looked around for maybe something missing by comparing to code for `max_column_width` but I didn't spot anything.

Oh here's one other weird thing. I'm not sure why but it's not in my last screenshot, but it's in this one:

![Screen Shot 2021-06-29 at 7 04 17 PM](https://user-images.githubusercontent.com/305268/123890950-f6e57580-d90c

[2021-06-30 02:09] msabramo commented on #519
Hmmm, if I resize the `winner` column with the mouse, then the values seem to be top aligned, like with `simple_win_count` and it all looks consistent.

[2021-07-01 03:05] aschonfeld commented on #523
@ItayKishon-Vayyar  I was able to create a fresh conda environment w/ D-Tale installed:
[code]

Then I opened a python console and ran the following commands:
[code]

I had no issues bringing up the app.  Is there some operation you're trying to perform that brings up the `plotly.express` error?  I'd also suggest maybe reinstalling `plotly`

Let me know how it turns out.  Good luck

[2021-07-01 03:31] aschonfeld commented on #519
@msabramo I've updated the branch with the fix for setting the row height programmatically.  Just be sure if your refreshing your local branch to run `git reset --hard origin/bugfixes_20210627` since I had to do some reshuffling for another commit.

As for the issue with the vertical alignment, is there any chance you could send me a sample of the data in columns `winner` & `sample_win_column`?  W

[2021-07-01 05:49] ItayKishon-Vayyar commented on #523
@aschonfeld,
Indeed, a fresh installation (python=3.9, anaconda) works.

I've noticed that with this installation, `plotly 5.1.0` is installed, whereas my original environment had `plotly 3.10.0` for some reason. It seems that `plotly 4` had a major change with the `plotly.express` submodule ([see here](https://github.com/plotly/plotly.py/blob/master/CHANGELOG.md#added-15)).

Perhaps `plotly 5` sh

[2021-07-01 11:51] aschonfeld commented on #523
Thabks @ItayKishon-Vayyar, i can look into updating the dependencies to be pinned to plotly 5. Do you mind tossing your ⭐️ on the repo? 🙏

[2021-07-01 19:56] msabramo commented on #519
Is 05cca69d3bc784ad91163dced0995ff57c6825b8 the right commit?

I'll work on crafting some data you can use to reproduce the alignment bug.

Thanks, @aschonfeld!

[2021-07-01 19:58] aschonfeld commented on #519
Yep looks like that is the right one. Thanks

[2021-07-01 20:04] msabramo commented on #519
Cool yeah I was just checking because it wasn't working for me at first, but I think it's because I forgot to restart streamlit and it was holding on to some old dtale bits. Now it's working! Thanks!

[2021-07-01 20:08] msabramo commented on #519
OK, for reproducing the vertical alignment bug, I was able to reproduce it with a regular old off-the-shelf CSV that I found:

[auto-mpg.csv](https://github.com/man-group/dtale/files/6750519/auto-mpg.csv)

In my code, I have:

[code]

That results in this:

![Screen Shot 2021-07-01 at 1 06 34 PM](https://user-images.githubusercontent.com/305268/124183523-31662400-da6d-11eb-882c-e4a79dadb03a.png)

[2021-07-01 20:16] msabramo commented on #519
It looks like from setting a DOM breakpoint, it *might* have something to do with it changing the `"class"` attribute of the cell to `"cell editable resized"`?

[2021-07-01 22:53] enovid commented on #519
The ability to set formatting per column is a great feature, and saves a lot of clicking when I'm frequently reloading the page.

I spent several hours trying to tell my "url" column to display as hyperlinks by default. The following code snippet is what finally worked (adapted from the replies above):

[code]

[2021-07-02 01:14] aschonfeld commented on #519
@envoid the branch that @msabramo is working off has an update for passing column formats like this:
[code]

[2021-07-02 02:12] aschonfeld commented on #519
@msabramo I've done some digging on the text columns being vertically aligned to the top.  So this only affects text columns and because when you resize text columns it has to be able to add an ellipses "..." to the end of the text if it's width is longer than that of the column.  Now when doing that you need to apply `display: block` which forces the text to the top.

I'll keep digging to see if

[2021-07-02 03:18] aschonfeld commented on #519
@msabramo Success!

https://user-images.githubusercontent.com/11547371/124215718-9304ad80-dac2-11eb-8ec0-a71fa4f0cf70.mov

[2021-07-03 00:37] msabramo commented on #519
@aschonfeld: It looks great with the new changes! Thanks again!

[2021-07-03 00:51] aschonfeld commented on #519
Great! Hoping to get a new version out soon, just gotta pick off a fee more issues

[2021-07-03 21:30] aschonfeld commented on #523
So the current plotly versions being used are:
[code]

I'm going to update this to:
[code]

[2021-07-03 23:15] aschonfeld commented on #524
So the confusion around this functionality is the usage of the "ordinal".  I think I'm going to have to disable the "ordinal" functionality when a target is selected because it will make the chart entirely too complex and hard to even understand.

[2021-07-03 23:27] aschonfeld commented on #525
So this is really hard to add since the bins could be different for each target value.  When I create the target histogram I break the data up into groups (one for each target) and then compute the histogram buckets for each group.  So therefore the buckets could be different for each group making the display very hard to show since there could be a lot of targets (and thus a lot of bin ranges).

[2021-07-03 23:31] aschonfeld commented on #526
See comment on #525 about the ranges.

[2021-07-04 02:33] enovid opened #534 "ImportError: cannot import name 'geoplot' from 'missingno.missingno'"
`missingno` version 0.4.3 (released on pypi today) breaks an import in `dtale`.

**What happened:**

[code]

**Temporary solution:**
[code]

[2021-07-04 05:28] ItayKishon-Vayyar commented on #523
That sounds a bit strange - as you can see in my first post, I installed the latest dtale version (1.50.1), yet ended up with plotly 3.10.0 (with Python 3.9.5). So perhaps something wasn't configured correctly with the requirements?
Also, there was this issue with networkx.

Thanks for looking into this. I've started playing with your project, and it seems very cool.

[2021-07-04 13:21] aschonfeld commented on #534
Yep, looks like they just released a new version of `missingno` with that bug in it 🙄 I'll pin it to 0.4.2.  Thanks for the heads up!

[2021-07-04 13:38] aschonfeld commented on #523
Ahhhh, looks like conda doesn't follow the version pinning used in `pip`.  I'm going to update the [conda build recipe](https://github.com/conda-forge/dtale-feedstock/blob/master/recipe/meta.yaml) to follow the version restrictions of [requirements.txt](https://github.com/man-group/dtale/blob/master/requirements.txt)

[2021-07-04 14:24] aschonfeld commented on #528
(2) is strictly a bug with the demo site, which I have detailed in the past.  If you refresh the page it should resolve itself.

[2021-07-04 14:33] aschonfeld commented on #523
@ItayKishon-Vayyar try installing 1.50.1 of the conda version now.  I updated the recipe to have `plotly >=4.14.3`

[2021-07-05 01:46] haviduck commented on #400
+1 for log x

[2021-07-05 04:38] reza1615 commented on #525
You have already the bins just need to get its range now this chart is binned base on Age

[2021-07-05 13:53] aschonfeld commented on #534
updated in v1.51.0

[2021-07-05 13:53] #534 closed

[2021-07-05 13:53] aschonfeld commented on #531
updated in v1.51.0

[2021-07-05 13:53] #531 closed

[2021-07-05 13:54] aschonfeld commented on #530
fixed in v1.51.0

[2021-07-05 13:54] #530 closed

[2021-07-05 13:54] aschonfeld commented on #528
Updated in v1.51.0

[2021-07-05 13:54] #528 closed

[2021-07-05 13:55] aschonfeld commented on #523
Updated in v1.51.0

[2021-07-05 13:55] #523 closed

[2021-07-05 13:55] aschonfeld commented on #522
updated in v1.51.0

[2021-07-05 13:55] #522 closed

[2021-07-05 14:04] aschonfeld commented on #525
Once again, it's not that simple:
* For a non-targeted histogram it's easy (and currently displayed) because only displaying one group of bins
* For a targeted histogram it's much harder since we have different bins for each target group
| target | bucket | bin    | count |
|--------|--------|--------|-------|
| A      | 0      | [0, 2) | 1     |
| A      | 1      | [2, 3) | 2     |
| B      | 0

[2021-07-05 16:14] reza1615 commented on #525
For example for the titanic data.
At first we binning the age to 20 buckets after that in each bucket check for survival or not. so the axisX lable should be the bin range
In my opinion at first you should bin after that check the target condition inside each bin
it will be

bucket |target |  bin range | items in the bin and target| total items in the bin
-- | -- | -- | --|--
0 |A | [0, 2) | 1|3
0

[2021-07-05 16:19] reza1615 commented on #528
I believe you for got the
 Max Correlation > Maximum correlation with other columns

[2021-07-05 16:21] reza1615 commented on #531
I believe you forgot to rename it to the

 **Data Functionality** or **DataFrame functions**

[2021-07-05 17:11] aschonfeld commented on #525
Ok, so this follows my last comment where we perform the binning before we group by target (in your example “survival”) which would give us one set of bins which is definitely doable.

The original code provided did not do this, which is why I was originally saying this was not doable.

[2021-07-10 03:30] aschonfeld commented on #529
https://user-images.githubusercontent.com/11547371/125150411-a5f42f00-e10d-11eb-9aea-b8dd7dd07d44.mov

[2021-07-10 15:32] aschonfeld commented on #532
added in v1.52.0

[2021-07-10 15:32] #532 closed

[2021-07-10 15:32] aschonfeld commented on #529
added in v1.52.0

[2021-07-10 15:32] #529 closed

[2021-07-10 15:33] aschonfeld commented on #525
added in v1.52.0

[2021-07-10 15:33] #525 closed

[2021-07-10 15:33] aschonfeld commented on #526
added in v1.52.0

[2021-07-10 15:33] #526 closed

[2021-07-10 15:33] aschonfeld commented on #531
Fixed in v1.52.0

[2021-07-10 15:34] aschonfeld commented on #528
Fixed in v1.52.0

[2021-07-10 17:28] reza1615 opened #537 "time series resampling"
Thank you for adding
1-in the demo it timeseries shows upload window
2-  is it possible to move it to the dataframe functionality window

[2021-07-13 17:46] msabramo commented on #519
Great! I saw that 1.52.0 was released and I just tried it out and it seems to work!

Thanks again for all your work on this, @aschonfeld!

[2021-07-13 18:02] aschonfeld commented on #519
Happy to do it!

[2021-07-13 18:37] msabramo commented on #519
FYI: I'm currently cleaning up a PR to add D-Tale to an internal tool that I'm working on (I work at Adobe so image support was pretty important for this tool).

Then our data science and ML folks can start exploring D-Tale and seeing how they can use it for their use cases.

[2021-07-13 21:49] aschonfeld commented on #519
Tell your coworkers who have github accounts to throw their ⭐️ on the repo too 🙏

[2021-07-19 06:05] liebkne commented on #477
@aschonfeld Hi, I can't get cell text previewed as shown in you video when max-width is applied. Do you have any idea of this? Thanks.

[2021-07-19 20:31] aschonfeld commented on #477
@liebkne sorry I just merged a fix for this issue and will hopefully have a release out sometime in the next couple days

[2021-07-20 18:38] Chocoder opened #539 "Extract strings or split by character"
Hello, could it be possible to add those two functions:
- extract a substring by indicating start and lenght;
- Split a string by delimiter like space, _ or others...
Thanks !

[2021-07-21 19:03] aschonfeld commented on #539
@Chocoder the first seems doable.  Thee second one I'm not sure what the expected outcome would be. Could you send an example of dataframes "before & after" the string splitting?

[2021-07-23 05:30] firmai opened #541 "Dark Mode"
Sorry for being that guy, but it would be amazing to have the ability to switch between a dark and light mode (if it was my project I would ignore this request for as long as possible though :)

Thanks again for the great project, following it very closesly.

[2021-07-23 09:56] reza1615 commented on #541
It has this possibility
![Screenshot_20210723-055531_Samsung Internet](https://user-images.githubusercontent.com/2202483/126766241-4df44573-9354-4131-8378-ca2380708cca.jpg)

[2021-07-23 10:08] reza1615 commented on #539
@aschonfeld : for this request we can make it more general like excel.
![image](https://user-images.githubusercontent.com/2202483/126767696-0713041e-c8be-421c-a8e5-95c1cf7681f3.png)
![image](https://user-images.githubusercontent.com/2202483/126767726-e50052dd-6316-496b-9c68-44911ea95924.png)
![image](https://user-images.githubusercontent.com/2202483/126767759-e65ec0a9-0ecc-4eb0-b2db-50746b954589.p

[2021-07-23 17:03] Chocoder commented on #539
@reza1615 yes thats it! It can be useful when the lenght of caracters to be split is not a constant in the column!

[2021-07-26 10:39] sayedathar11 opened #542 "Attribute Error while using Dtale ."
I am trying to do EDA on a pandas Dataframe using Dtale , My Pandas Dataframe has combination of Numerical , Categorical and Date time type columns , but problem is when I calling dtale.show(data,ignore_duplicate=True) .
It is showing error "AttributeError: 'int' object has no attribute 'strip'"

I am also attaching screenshot of the error please find the attachment .
![dtaleerror](https://user-im

[2021-07-26 16:33] appznoix opened #543 "More cumsum... now with"
@aschonfeld , hope this finds you well.

Few week ago, I opened an issue pertaining the cumsum function, remember? You've added it to Build Column dialog. Kudos!

Still, can't find a way to do something like this:

`df["total_profit"] = df.groupby(["product"])['profit'].cumsum()`

Using Transform in the Build Column dialog, the closest I got was:

`new_column = df.groupby(['product'])['profit'].tr

[2021-07-27 02:03] aschonfeld commented on #541
@firmai here's a demo of the functionality, let me know if its missing anything you need

https://user-images.githubusercontent.com/11547371/127083280-0ba63912-dfc7-4430-b83f-05991cfaa8af.mov

[2021-07-27 02:03] #541 closed

[2021-07-27 11:02] firmai commented on #541
Your just too great!! Thanks.

[2021-07-27 11:16] firmai commented on #541
@aschonfeld  When it comes to the auxiliary screens, can we achieve a similar effect, ?

http://alphatechadmin.pythonanywhere.com/dtale/charts/4?chart_type=3d_scatter&query=&x=date&z=Col0&agg=raw&cpg=false&y=%5B%22security_id%22%5D

![image](https://user-images.githubusercontent.com/26666267/127144723-fdfac283-9446-4f93-98b2-01685581b2b9.png)

[2021-07-27 12:27] aschonfeld commented on #541
How's this?

![image](https://user-images.githubusercontent.com/11547371/127153421-7f3e9ecc-d0ac-493b-9564-2a7912b461b9.png)

It's going to take some work to try and get the actual chart itself to no longer have a white background.

[2021-07-27 12:54] aschonfeld commented on #542
@sayedathar11 good catch!  I'm working on adding some handling that will check if the dtype of the categories is of "string" type before performing this operation.

So `if dtype.startswith("category")` will become `if dtype.startswith("category") and classify_type(s.dtype.categories.dtype.name) == "S"`

[2021-07-27 12:57] aschonfeld commented on #543
Sure thing @appznoix  I can add an optional "Group By" dropdown to the "Cumulative Sum" builder.  Good catch

[2021-07-28 01:54] Basavaraj-Hadapad opened #544 "DTale missing analysis Bar chart could not be loaded!"
Many a times bar chart in 'Missing Analysis' does not open up and throws error 'Chart could not be loaded!'. It usually happens when have more columns or rows. Please fix this. Thank you

[2021-07-28 05:03] sayedathar11 commented on #542
Thanks @aschonfeld  for solving this issue.

[2021-07-28 13:07] aschonfeld commented on #544
@Basavaraj-Hadapad apologies for the issues.  Can you give me some more information around the dimensions of your dataframe?  I need some more context so I can build some test data.  It might be an issue with the `missingno` package and not D-Tale itself.

[2021-07-28 15:15] aschonfeld commented on #543
@appznoix this was added in v1.53.0

[2021-07-28 15:15] #543 closed

[2021-07-28 15:17] aschonfeld commented on #539
@Chocoder just released v1.53.0 with these changes.  If you haven't already please take a second to toss your ⭐ on the repo.  Thanks 🙏

[2021-07-28 15:17] #539 closed

[2021-07-28 15:18] aschonfeld commented on #542
No problem, happy to help @sayedathar11 please take a second to toss your ⭐ on the repo if you haven't already.  Thanks 🙏

[2021-07-28 15:18] aschonfeld commented on #541
@firmai added the changes shown above in v1.53.0

[2021-07-28 15:21] aschonfeld commented on #477
@liebkne this has been fixed in v1.53.0 If you haven't already, please take a second to toss your ⭐  on the repo.  Thanks 🙏

[2021-07-29 08:12] sayedathar11 commented on #542
Hiii @aschonfeld  unfortunately the issue is still persisting !  Can you please check it ? I am attaching the snapshot
![dtale2](https://user-images.githubusercontent.com/17905011/127456173-228aa342-0011-49ae-9ae3-4d233ff0fda4.PNG)

[2021-07-29 12:32] aschonfeld commented on #542
Based on the line of code that it failed on, it looks like your version of D-Tale has not been updated.  If you're using a virtual environment please run the following:
[code]

If using conda:
[code]

[2021-07-29 13:01] sayedathar11 commented on #542
@aschonfeld Thanks alot will check it .

[2021-07-29 16:51] Chocoder opened #545 "Add prefix and/or suffix to column content"
Hello, thanks for achieving my last - and first - post!

I have a new request, maybe the option already exists... could we offer the possibility to add a suffix and/or prefix to an existing column? Option for replacing existing one or creating a new one would be appreciated !

Thanks

[2021-07-29 21:29] aschonfeld commented on #545
@Chocoder you are correct.  It does not appear that this functionality exists.

So for adding a prefix/suffix I can do something similar to the "Numeric" add/subtract/multiply/divide function where you can specify a column or a static value:
![image](https://user-images.githubusercontent.com/11547371/127562044-79e486d3-7ae5-4a93-8ada-8a6f3d2f1bc3.png)

I will call this **"Concatenate"** and you ca

[2021-07-29 21:39] aschonfeld commented on #544
@Basavaraj-Hadapad I think I have figured out the issue.  I'll let you know once a new version has been released

[2021-07-30 10:01] sayedathar11 opened #546 "Dtale Output Not being rendered on Jupyter Notebook"
Hello this is related to https://github.com/man-group/dtale/issues/542

I have installed new version of Dtale and the error which was occuring due to datatypes have also being address I guess but the output of the dtale.show() , is not being rendered .  I also waited 8 - 12 hours for output to render but its not being rendered .

I also try opening the same on using
`d = dtale.show(data, ignore_du

[2021-07-30 12:01] aschonfeld commented on #546
So this might be an issue with how much memory your machine has, since I am able to load 1.6 million rows with 31 columns in jupyterhub with no issue:

https://user-images.githubusercontent.com/11547371/127649333-5cf85971-5590-413d-bd13-363c05f50d1d.mov

One thing you can do to optimize memory consumption is to use the `drop_index` parameter.  For example:

`dtale.show(df, drop_index=True)`

Last

[2021-07-30 12:45] aschonfeld commented on #546
I figured out the issue with the `open_browser`.  So the problem is that when using `JUPYTER_SERVER_PROXY = True` it will no longer include the hostname & port in the URL.  There is no way that I can tell you can figure out the hostname & port that jupyterhub is running on programmatically.

When setting `JUPYTER_SERVER_PROXY` to `False` it will revert back to the original format where it is not a

[2021-07-30 13:39] sayedathar11 commented on #546
Ok @aschonfeld  Thanks alot .

[2021-08-01 12:27] skvs2005 commented on #275
I am seeing the following...
This site can’t be reached "xxx" refused to connect.
Try:

Checking the connection
Checking the proxy and the firewall
ERR_CONNECTION_REFUSED

[2021-08-01 13:20] aschonfeld commented on #275
@skvs2005 can you try hitting http://localhost:40000/dtale/main/1

Also, is this a windows machine? If so, there’s some settings you’ll have to adjust to allow for hitting a python process: https://github.com/man-group/dtale#issues-with-windows-firewall

[2021-08-02 06:55] Chocoder commented on #545
Hello! It is a starting or finish need there so your proposition looks nice to me!

[2021-08-03 13:46] aschonfeld commented on #545
I'll add a function called "Replace" in addition to the "Concatenate" function which will allow you to use the `str.replace` function in pandas shown [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.replace.html)

[2021-08-03 13:46] aschonfeld commented on #545
I'll add a function called "Replace" in addition to the "Concatenate" function which will allow you to use the `str.replace` function in pandas shown [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.replace.html)

[2021-08-06 15:18] aschonfeld commented on #545
@Chocoder this has been added in v1.54.0

[2021-08-06 15:18] #545 closed

[2021-08-06 15:19] aschonfeld commented on #544
@Basavaraj-Hadapad this has been fixed in v1.54.0.  If you haven't already, please toss your ⭐ on the repo.  Thanks 🙏

[2021-08-06 15:19] #544 closed

[2021-08-10 12:14] firmai commented on #541
beautiful thanks!

[2021-08-10 12:21] aschonfeld commented on #541
@firmai if you haven’t already, please toss your ⭐️ on the repo. Thanks 🙏

[2021-08-11 12:21] samuelhaysom opened #548 "commands not working when running in a Jupyter Notebook in VScode"
I am trying to use dtale within a Jupiter notebook running inside VScode and am finding some commands within dtale don't do anything.

The commands I have found that don't work are, there are probably others that I haven't found yet
Code Snippet from the main Dtale menu
export as .csv from the main Dtale menu
Load data from main Dtale menu

Is this a bug, or is it due to how Jupiter notebooks are

[2021-08-11 17:54] arashaneh opened #549 "grouping charts by multiple columns is not working"
In many cases, we want to create charts that are the result of grouping more than one categorical column. When trying that we get this error: "too many values to unpack (expected 2)".
Is that a known issue that is not yet fully implemented or it is a simple bug to fix?

I attached an screenshot of the error message:
<img width="953" alt="Capture46 (002)" src="https://user-images.githubusercontent.

[2021-08-11 23:28] aschonfeld commented on #549
@arashaneh sorry about that. I'm digging into this now.

[2021-08-12 02:29] aschonfeld commented on #548
@samuelhaysom unfortunately this is a known bug with how vscode handles notebooks. See this [issue](https://github.com/man-group/dtale/issues/258)

That being said you can still run the following:
[code]

Then take the output of `d._main_url` and paste it into a browser.  Please let me know if you have any ideas for a workaround (maybe something like an option to convert popups to redirects when i

[2021-08-12 03:15] aschonfeld commented on #549
@arashaneh just released a hotfix v1.54.1 with a fix for this issue.  Hope this helps.  Also, if you haven't already please toss your ⭐  on the repo. Thanks 🙏

[2021-08-12 03:15] #549 closed

[2021-08-12 03:19] arashaneh commented on #549
I appreciate it!

[2021-08-13 08:07] cmartinotti opened #550 "Return current state dataframe"
Is there a way to return the current state of the dataframe  directly into a dataframe rather than saving a csv or exporting the whole code? What I mean would be similar to the qgrid function: df.get_changed_df() .

I can't find it in the documentation, in the case that there isn't it would be very useful to have a function that returns the current state of the dataframe, especially for casual use

[2021-08-13 13:14] aschonfeld commented on #550
@cmartinotti here's some documentation on [programatic functions](https://github.com/man-group/dtale#additional-functions-available-programmatically) available in D-Tale.

For your case I think you'd like to make use of the `.data` property on your D-Tale instance. For example:
[code]

Hope this helps and if you haven't already please toss your ⭐ on the repo. Thanks! 🙏

[2021-08-14 01:54] proxseas opened #551 "unhashable type: 'Series'"
I am unable to do any advanced filtering. Given a test case where a data frame simply has a string column, it will still throw this error. Below is an example of what my test dataframe looks like:
![image](https://user-images.githubusercontent.com/13462108/129430946-9a0981d5-fe65-4165-b5cd-534881b1b2c5.png)

The custom filter I'm trying to use is something like this: `id.str.contains('abc')`. This

[2021-08-14 13:33] aschonfeld commented on #551
@proxseas Hmm, so far I've tried:
* dataframes with a string column and other columns
* dataframes with only one column (a string column named `id`)
* on pandas 1.3.1 & 1.2.1

All seem to work fine.  The only nuance I've seen is when the string column in question contains NaN values.  Then you filter will have to be `id == id and id.str.contains('...')`

The `id == id` addition drops NaN values fr

[2021-08-14 15:14] samuelhaysom commented on #548
I see, makes sense. I would have thought you could add something so if dtale knows its being used in VScode it changes the way popups are generated to make vscode generate a new file with the output but I'm definitely not skilled enough to implement that.

It's a pity because being able to use notebooks from within VScode is such a nifty feature but I understand you can't support all use cases. I'

[2021-08-14 16:43] aschonfeld commented on #548
I’ll see if i can dig around and see if theres a way to tell if you’re running a notebook from vscode or not. If there is then i can certainly implement that feature.

[2021-08-14 18:59] proxseas commented on #551
I actually just reinstalled Anaconda3. Prior to this, I was running Miniconda, in WSL Ubuntu, with various Jupyter-related packages that I installed manually. I wiped out my Miniconda installation and installed the full version of Anaconda3, followed by simply installing dtale with pip: "pip install dtale".
Then I created a simple dataframe:
[code]

With this simple test case, I've been able to ve

[2021-08-14 21:02] aschonfeld commented on #548
Ok so it looks like I can execute `os.environ.get('VSCODE_PID') is not None` and if that statement is true then we're executing in VSCODE

[2021-08-14 21:06] proxseas commented on #551
A quick update: I set up an Ubuntu VM and had the same set of errors take place. All using the latest version of Anaconda3 and this package. So it's definitely not related to WSL.

[2021-08-14 22:15] aschonfeld commented on #551
I'll mucking around with conda and see if I can re-create the error.  So far no luck using a standard pip-based virtual environment

[2021-08-14 22:39] proxseas commented on #551
Sounds good. For the record, I used this Anaconda installer: https://repo.anaconda.com/archive/Anaconda3-2021.05-Linux-x86_64.sh. I used a standard installation (all options at default), then ran 'pip install dtale'.

[2021-08-15 13:09] aschonfeld commented on #548
Good news, I've significant progress on this change and I should have a new version released in the next few days

[2021-08-15 13:30] aschonfeld commented on #551
Ok, maybe that is the problem.  I created a new conda environment `conda create -n dtale_39-0 python=3.9` then I ran `conda install dtale -c conda-forge`

Once that completed I opened a python terminal and ran the following:
[code]

Then when I got into the app I was able to add the filter `a.str.contains('f', na=False, case=False)` with no issues.

[2021-08-15 18:26] proxseas commented on #551
Looks like that was the issue. I created yet another new environment and installed dtale and related dependencies using '-c conda-forge' and it worked. Thank you.

[2021-08-15 20:55] #551 closed

[2021-08-16 08:22] samuelhaysom commented on #548
Great! Thanks so much for having a look at this. I look forward to testing the new release :)

[2021-08-16 11:19] lcorrigan opened #552 "Exceptions when filtering on dtypes that support pd.NA"
For the record, I'm just getting started with Dtale and I'm blown away by it's capabilities - thank you for creating it.

I've found that Dtale throws an exception when I try to filter on columns that have dtypes which support NA (vs np.nan): https://pandas.pydata.org/pandas-docs/stable/user_guide/gotchas.html#support-for-integer-na
The error it throws is below.
I was getting in this state by call

[2021-08-17 02:58] #550 closed

[2021-08-17 03:01] aschonfeld commented on #552
@lcorrigan thanks for the kind words.  Apologies for the bug, I'll start digging into it now.  In the meantime, if you haven't already please toss your ⭐ on the repo.  Thanks 🙏

[2021-08-17 04:16] aschonfeld commented on #552
So I have already fixed about 3 bugs related to this (although I haven't see the exact exception you were seeing).  Here's the test data I used:
[code]

https://user-images.githubusercontent.com/11547371/129662749-fbd50f48-abf8-4aa7-975b-4f95e4799ba3.mov

Let me know what you think

[2021-08-17 10:18] lcorrigan commented on #552
Thanks @aschonfeld. Your example test throws the exception on my machine with 1.54.1, so looks like your fix would cover my problem. Thanks for jumping on this so quickly. Would it also fix how unsigned types were filtering incorrectly in queries? If it does not, I could split that into a separate issue if you would prefer.

[2021-08-17 12:40] aschonfeld commented on #552
I mocked up some data using this:
[code]

https://user-images.githubusercontent.com/11547371/129727151-3e645618-6b1c-45c2-8c76-be93e9683b18.mov

[2021-08-17 12:43] lcorrigan commented on #552
@aschonfeld Looks great.

[2021-08-17 12:44] aschonfeld commented on #552
Terrific, I just need to add some testing and I'll try getting out a release either tonight or tomorrow.

[2021-08-17 13:02] lcorrigan opened #553 "Timeseries plots with boolean values give empty plots with integer Y Scales"
I might just not be wrangling Dtale correctly, but I've not been able to run a line or scatter plot that has datetime[64] for X and boolean as Y.  The only way I can get a line or dots to appear is if I select an aggregation option but my use-case is more like for watching a network connection thrash over time.  To contrast, I ran the same query in VSCode and plotted directly in Plotly - the outco

[2021-08-17 13:48] aschonfeld commented on #553
Yea, I'm sorry thats another bug.  For some reason the "No Aggregation" option is not displaying what you want. I'll fix that as well.

For the time being, if your x-axis values (timestamps) are unique then setting the aggregation to "Sum" or "Mean" should give you what you want as a work-around.  Apologies

[2021-08-17 14:01] lcorrigan commented on #553
Thanks @aschonfeld.  The x values are indeed unique but Dtale wasn't happy with your workaround suggestions.  Sum or Mean throw errors.  I'm still just getting to know Dtale so it's not blocking me at all.  Thanks.

Traceback (most recent call last):
  File "C:\Users\lcorrigan\AppData\Local\Programs\Python\Python38\lib\site-packages\dtale\dash_application\charts.py", line 3248, in build_chart

[2021-08-17 14:08] aschonfeld commented on #553
Ok, I think the issue is that the code is not correctly converting the booleans to numeric data when there is no aggregation specified.  It's converting it to a string because that's what it needs to be when it's used in the x-axis.

As for your most recent exception, are you choosing one of the frequency-based versions of your timestamp column for the y-axis?  Looks like thats the case based on t

[2021-08-18 12:22] aschonfeld commented on #553
@lcorrigan just released v1.55.0 with a fix for this, let me know if you still have issues

[2021-08-18 12:22] #553 closed

[2021-08-18 12:22] aschonfeld commented on #552
@lcorrigan just released v1.55.0 with a fix for this, let me know if you still have issues

[2021-08-18 12:22] #552 closed

[2021-08-18 12:23] aschonfeld commented on #548
@samuelhaysom just released v1.55.0 with this functionality, let me know if you still have issues

[2021-08-18 12:23] #548 closed

[2021-08-18 13:10] lcorrigan commented on #553
Thanks @aschonfeld, when using 1.54, I was not using one of the frequency-based versions of timestamp. Sorry I didn't send a snapshot at the time.  I've tried with 1.55 - it no longer needs an aggregation to plot it (cool), but the scale is kind of messed up. Still treated as integers though a bool (note however dtale recognizes the column is a bool in the data view) and has duplicate entries in t

[2021-08-18 13:27] lcorrigan commented on #552
Thanks @aschonfeld - can filter correctly on the nullable Int types now.
I was not successful however in filtering when the data type was dtype uint64 (trips safe cast rule?) or using nullable UInt64 type (unknown object). For reference, there is no missing data in this column I'm playing with and I'm importing the data as those types for this - not getting dtale to convert them for me first.
![Fi

[2021-08-18 23:10] yuchaofan13 opened #554 "TypeError: 'input' object is not iterable"
I try to run 'dtale.show(df)' but get this error message. Any help would be appreciated.

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\dtale\app.py", line 708, in _start
    app = build_app(
  File "C:\ProgramData\Anaconda3\lib\site-packages\dtale\app.py", line 474, in build_app
    app = dash_views.add_dash(app)
  File "C:\ProgramData\Anaconda3\lib\site-pa

[2021-08-18 23:15] yuchaofan13 commented on #554
Forgot to mention I'm running jupyter notebook in VS code. It was working a few hours ago; the only change that happened in the interim I can think of is that I installed beautifulsoup and selenium.

[2021-08-19 01:44] proxseas opened #555 "Predefined Filters - ability to group them and also to toggle on/off"
I've been enjoying using Custom Filters and Predefined filters quite a bit, but what I find myself doing quite a bit is simply copying and pasting saved queries in the Custom Filters dialog. This is not optimal, but it is the most powerful way for me to use this plugin for now. However, I think it could be enhanced easily with some of the following changes (in an approximate order of how easy it w

[2021-08-19 12:23] aschonfeld commented on #555
@proxseas thanks so much for the suggestions. With the exception of #5 these all seem doable.  For the grouping, do you mean you just want to assign a classifier to each filter and then display them in groups?

[2021-08-19 21:36] proxseas commented on #555
@aschonfeld What I had in mind for #5 was something more akin to compound parameters for a query. E.g. let's say your data is related to animals and you initially have filters A and B, where A is `df[(df["Animal_Category"] == 'bird')` and B is `df[(df["Animal_Category"] == 'fish')]`. With group-related functionality, you could potentially do something like this.
`A ='bird'`
`B='fish'`
`my_categori

[2021-08-21 01:06] perryisbusy opened #556 "Concern about generate a link that can share with others"
Hello,

Just wondering that is it possible to generate a link(HTML) like pandas_profiling that can share with others. The link can be opened from any system without opening Jupyter Notebook again. Thanks!

[2021-08-22 13:02] aschonfeld commented on #556
So this is possible, but the original notebook that was running your D-Tale instance must be up and running in order for others to use the link.  You can figure out your D-Tale link by running the following in your notebook:
[code]

It should print something like `http://[host]:[port]/dtale/main/1`

If you are running with `JUPYTER_SERVER_PROXY = True` then the url won't have the host & port on it

[2021-08-22 13:13] aschonfeld commented on #554
So, I wonder if dash has updated their API.  When creating callbacks you used to be able to specify a single input or a list of inputs.  Looks like based on your exception it now requires you to always specify a list of inputs.  I'm running dash 1.20.0 and its working fine.  That being said, I'm working on a new version of D-Tale which will always use a list of inputs.  I'll let you know when the

[2021-08-22 13:30] aschonfeld commented on #552
@lcorrigan any chance you can send over a sample of data?  I'm using the following and everything seems to be working fine:
[code]

[2021-08-22 13:44] aschonfeld commented on #553
So under the hood, when plotly is aggregating booleans it is converting them to integers (0-false, 1-true) so there's not really a way to change the y-axis ticks to say "True"/"False" because there is a good chance that the final aggregated outcomes will not be 1 or 0.

I can try adding some logic which will check the dtype of the column(s) in the y or z-axes and if they are boolean then show tick

[2021-08-22 21:20] yuchaofan13 commented on #554
Thanks a lot for the help, and also many thanks for developing dtale- I love it!

[2021-08-22 21:49] aschonfeld commented on #554
@yuchaofan13 happy to hear it helps! If you havent already please toss your ⭐️ on the repo. Thanks 🙏

[2021-08-23 11:33] lcorrigan commented on #552
Hi @aschonfeld. I've attached some data as csv but unless you import it as these types, pandas will just default to signed numpy types. I didn't see an option in Dtale to set any of the import csv pandas options. The types on my end are below. I've tried after calling "tempy = tempy.convert_dtypes()" to get the nullable versions, but I still get an error coming from the safe cast attempt with thos

[2021-08-23 11:45] lcorrigan commented on #553
@aschonfeld , I understand - hard to make it do everything in one.

I think people can relate **1=True, 0=False** easier than relating a float to a bool. I can understand doing a count of values, but can't predict why someone would want a Mean of boolean.  It's not my UI, but I'd personally deactivate aggregation options that don't make sense for the column data type - but that's easy for me to sa

[2021-08-24 01:00] aschonfeld commented on #553
Ok, I think I got it working:
![image](https://user-images.githubusercontent.com/11547371/130538545-5a31a479-1b7f-43bc-8c09-472d85ea8c9c.png)

It will definitely look a little weird when you're using aggregations which produce values outside of 1 & 0 because you won't be able to see the "True"/"False" ticks, so maybe I should turn off the "True"/"False" display for specific aggregations.  If you a

[2021-08-24 11:19] lcorrigan commented on #553
@aschonfeld, there aren't any aggregations that would result in True/False, so my humble suggestion would be:

- If Y values selected are boolean columns and no aggregations are selected, display True/False (preference) or 1 / 0.
- If Y values selected are boolean columns and aggregrations **are** selected, any outcome is going to be of numeric type, so display only numeric.
- If multiple Y values

[2021-08-24 13:04] Chocoder opened #557 "Apply filter in describe or charts"
Hello, when i apply some filtering to the dataset columns I would like this to apply in describe column or chart options. But it shows me the full dataset without applying the filtering...
Is this normal?

[2021-08-24 19:50] aschonfeld commented on #552
@lcorrigan I did some digging using the information you gave (thank you for that) and the issue appears to be your usage of `numexpr`.  If you uninstall that D-Tale should work correctly.  I'll keep digging on why `numexpr` breaks it.

[2021-08-24 19:57] aschonfeld commented on #552
So it looks like the solution to this problem is to update my usage of `pandas.Dataframe.query` so that `engine='python'`.  By default `engine='numexpr'`.  If this seems fine to you I'll add this fix

[2021-08-24 20:00] lcorrigan commented on #552
@aschonfeld, I'm glad you said that, as numpy is dependant on numexpr - I can't remove it.  Yes, specifying the engine is the way to go, however I would not suggest you change it for all cases of filtering (query) because the python engine is slower than numexpr.  Could you give the user the option of which one to use?

[2021-08-24 20:07] aschonfeld commented on #557
Charts should be carrying over the current filters over and display them in the "Query" input at the top of the screen.  Then from there you can make the edits you like.  Here's a demo:

https://user-images.githubusercontent.com/11547371/130682449-340f13de-aac5-4161-b577-7b8d69db4134.mov

I can work carrying over the current filter into the "Describe" page for you.  Apologies for the inconvenience

[2021-08-24 20:14] aschonfeld commented on #552
Ok, I'll try adding an "engine" toggle in the "Custom Filter" modal window

[2021-08-25 03:33] aschonfeld commented on #552
Here's what I got:

https://user-images.githubusercontent.com/11547371/130721978-ff7a77e9-f5cb-4f58-b421-fb24e68f0b16.mov

I have also added a property to the application settings `query_engine` and the two options are "python" & "numexpr" so if you want to set it to one of the other for all your sessions going forward you can by using a configuration file (heres the [documentation](https://github

[2021-08-25 04:30] lcorrigan commented on #552
@aschonfeld That looks pretty good!

[2021-08-30 01:36] aschonfeld commented on #555
@proxseas as for the default sort (7) you could just add it to whatever piece of code loads your data.  Otherwise, I can certainly add the ability to specify a sort when calling `dtale.show` passing in a list of tuples `[('col1', 'ASC'), ('col2', 'DESC'), ...]` and then using a.global config file it would probably have to be a comma/pipe delimited string: `col1|ASC,col2|DESC,...`

Now sure how val

[2021-08-30 01:42] aschonfeld commented on #555
I'm not sure how valuable "coloring or rows" (6) will be since filters are concatenated together using `and` and not `or`.  So if a row is displayed then that means it has to meet the criteria of all the active filters.  All of your filters are displayed in the header bar.

If we allowed for `or` (which would be a whole new can of worms) then I could see this being valuable, but thats not the case

[2021-08-31 00:03] proxseas commented on #555
@aschonfeld That video is looking good. Do you think it would be possible persist some of the filter settings to a text/json file? For example, toggling enabled/disabled for a predefined filter. More importantly, I think it would be super neat if it was possible to edit/define some of the filters in an external text file (probably located in the current working directory) and then hit a button in

[2021-08-31 00:45] aschonfeld commented on #555
Haha, unfortunately I just finished adding the ability to specify a default sort (as described in my comment from last night).  At least it will be done regardless of whether anyone uses it.

So the only reason why a static file will not work for predefined filters is because of the `handler` property which has to be a python lambda function.  My best suggestion is that you just keep a running tal

[2021-08-31 01:02] proxseas commented on #555
No worries - it definitely won't hurt. I think sorting is directly related to the presentation of data, rather than its transformation, so it will fit in nicely with dtale's functionality.

Sounds a bit involving. Maybe I'll set aside time later on to try this approach :)

[2021-08-31 01:11] proxseas commented on #555
Also, I was wondering if you could advise on something relating to categories. In one of my Jupyter Notebooks, I have a column called "tags" and there I have a Python list that is converted to a string. E.g. one row's "tags" column could have the value "['burger','fast food','American']" (note that the whole thing is a string - it's no longer a list). Then, I would query for rows containing specif

[2021-08-31 01:22] aschonfeld commented on #555
Wow, yea I've definitely come across some instances of people using complex objects as values for cells in a pandas dataframe (for example lists).  I'm not sure how well D-Tale would handle this, but I think it will at least render it in a readible fashion (I hope)

But anyways, here's a nice articale detailing someone's struggles with [list data in pandas dataframes](https://towardsdatascience.co

[2021-08-31 01:47] aschonfeld commented on #557
@Chocoder here's my progress on adding filtering to the "Describe" window

https://user-images.githubusercontent.com/11547371/131428386-7fac5c86-bba2-4bc5-bef3-576b04343414.mov

Gonna try adding a tooltip to the "Filtered" toggle so it's a little clearer what it is there for.

[2021-09-01 03:18] aschonfeld commented on #557
Added in v1.56.0

[2021-09-01 03:18] #557 closed

[2021-09-01 03:18] #556 closed

[2021-09-01 03:18] aschonfeld commented on #555
added in v1.56.0

[2021-09-01 03:18] #555 closed

[2021-09-01 03:18] aschonfeld commented on #554
Fixed in v1.56.0

[2021-09-01 03:18] #554 closed

[2021-09-01 03:19] #542 closed

[2021-09-01 03:19] aschonfeld commented on #553
updated in v1.56.0

[2021-09-01 03:20] aschonfeld commented on #552
updated in v1.56.0

[2021-09-02 17:12] ndgayan opened #558 "Column "Variance Report" and "Describe" only apply to filtered data set (Visible rows in dtale)"
Is there any way to change the default behavior of the "Variance Report" and "Describe" functions only applies visible rows if a filter/s exists? The default behavior is always to use the entire data set.

[2021-09-02 18:30] aschonfeld commented on #558
@ndgayan i actually just did a release v1.56.0 including this change for the “Describe” panel (see video at bottom of this issue: https://github.com/man-group/dtale/issues/557).

i’ll work on updating the variance report with this feature as well

[2021-09-03 14:11] ndgayan commented on #558
Thank you. I really appreciate it.

[2021-09-03 14:11] #558 closed

[2021-09-03 14:45] aschonfeld commented on #558
@ndgayan sure thing, will update you once the Variance Report has been updated. If you havent already, please toss your ⭐️ on the repo. Thanks 🙏

[2021-09-05 03:19] proxseas opened #559 "Pinning first column and highlighting row"
I've been using this library more and more and I was wondering if it was possible to have a few more "quality of life" improvements. I'll list a few of them here, instead of creating multiple threads.

1. It would be super useful to be able to 'pin' the first column, so that when you keep scrolling far to the right, you'll still be able to see that important first column. In Excel and Google Sheet

[2021-09-07 18:12] aschonfeld commented on #559
@proxseas just wanted to give you a heads up that I'll starting working on this shortly.  In the meantime, your first request for pinning columns already exists but it's called "locking" instead of "pinning".  Right now, if your input dataframe has an index then those columns in the index will be "pinned" to the left of the grid but you can also pin any other columns by clicking the header and pre

[2021-09-07 18:51] proxseas commented on #559
That's very convenient. I should have paid more attention to the drop down menu. Is it possible to pre-set a specific column programatically (that isn't the index) to lock before launching dtale?

[2021-09-09 00:58] aschonfeld opened #560 "Add Gage R&R"
Add the ability to compute ["Gage R&R"](https://www.isixsigma.com/dictionary/gage-rr/#:~:text=A%20Gage%20R%26R%20is%20a,vary%20from%20time%20to%20time.&text=The%20Gage%20R%26R%20study%20specifically,reproducibility%20of%20the%20measurement%20system.)

[2021-09-09 01:31] aschonfeld commented on #560
Here's what it will look like:

https://user-images.githubusercontent.com/11547371/132607303-dac6e0c8-20f2-466e-8dbc-0d4c5ff17497.mov

[2021-09-09 01:42] aschonfeld commented on #559
@proxseas not sure if this is what you are talking about for (2) but you can already select rows and [copy them into excel](https://github.com/man-group/dtale#copy-cells-into-clipboard).  That article shows you how to copy cells.  In order to copy rows simply Shift+Click on the row indexes on the left.

[2021-09-09 03:13] proxseas commented on #559
@aschonfeld I was not trying to copy and paste into Excel. I was only using it for referencing functionality.

[2021-09-11 19:01] aschonfeld commented on #559
@proxseas I was able to update clicking of row indexes so that it will highlight that specific row for you:

https://user-images.githubusercontent.com/11547371/132958611-7076a17e-1861-4e38-9220-8e8711567050.mov

[2021-09-11 19:19] proxseas commented on #559
Looking good!

[2021-09-13 13:00] aschonfeld commented on #559
@proxseas I'm starting on (3) and what I'm planning to do is make the "drop rows" button configurable from the the config file or python code.  Similar to how you can turn off cell editing by setting a flag to `False`.  This will be an application-scoped flag so that if you set it to `False` it will be turned off for all instances of D-Tale.

So for the config file you would add something like:
[c

[2021-09-13 16:18] vlarcta opened #561 "Not checking ports in use correctly"
Hello, I have found that dtale sometimes fails to locate ports in use (running via jupyterhub proxy). Seems like running connect_ex is not safe enough. Referring to https://github.com/man-group/dtale/blob/a76234b137da2b88e0d4770076e305a5de9d1c37/dtale/app.py#L522-L524

It can fail on some ports, reason for which I do not know yet (will update if find what is so special about these ports) but I hav

[2021-09-13 18:45] DoDzilla-ai opened #562 "Q: Is there a straightforward way to add custom functions and buttons?"
I was looking for a simple GUI that will allow users to tinker with data and apply my custom functions to it. I found DTale and this looked like what I was looking for. Until I couldn't figure out how to add my own custom functions to the UI. I guess I need to dig in both front-end and back-end files of dtale to add my custom button and attach a function to it. I was wondering if there is any stra

[2021-09-14 01:59] aschonfeld commented on #559
Here's what I got for (3):

https://user-images.githubusercontent.com/11547371/133182158-958e8927-2bf2-459d-b1ae-d3f911277588.mov

[2021-09-14 02:18] aschonfeld commented on #562
So you can simply use D-Tale for the grid display & cell editing just by following that [example](https://github.com/man-group/dtale/blob/master/docs/EMBEDDED_FLASK.md).  But what I think you'd want is to have an `<iframe>` holding your D-Tale grid.  So that way you can see the grid on your screen and edit cells, but then have buttons surrounding the `<iframe>` which call your clustering functions

[2021-09-14 02:27] aschonfeld commented on #561
Hmm, I am not able to get the same exception. I believe this is the [port](https://stackoverflow.com/questions/2470971/fast-way-to-test-if-a-port-is-in-use-using-python) I used to build that piece of code.

[2021-09-14 02:35] proxseas commented on #559
Can't wait for the release.

[2021-09-14 09:29] vlarcta commented on #561
Thanks for the reference. Is that also the case if you increase the port range to 49000 ? In my case what happens is dtale_app.is_port_in_use only finds unavailable ports if they are used by some other service but does not detect ports that are unavailable for any other reason (suspecting a firewall). Haven't found the true cause of what makes ports unavailable but netstat does not show anything r

[2021-09-14 11:29] DoDzilla-ai commented on #562
I am talking with a friend of mine to get help for the front-end side. I am a back-end guy :) I hope I can get it working.

[2021-09-14 12:08] aschonfeld commented on #562
Terrific, well keep me posted and message me if you get stuck. Also, if you havent already, please toss your ⭐️ on the repo. Thanks 🙏

[2021-09-14 12:23] aschonfeld commented on #561
So here's information on [how ports are chosen](https://github.com/man-group/dtale#startup-behavior).  You can change the logic about which ports D-Tale searches by specifying some environment variables.  By default it looks for ports between 40000 - 49000.

That being said, there is nothing stopping you from forcing D-Tale to use a specific port.  You can accomplish that by doing: `dtale.show(df,

[2021-09-14 12:36] aschonfeld commented on #559
For (5) in order to set the "Nan Display" you would have to do the following:

[code]

This is a little roundabout and I'll work on adding a parameter to `dtale.show` named `nan_display` which can take any value and the front-end will inject it into any `nan` cells.

[2021-09-14 13:26] vlarcta commented on #561
Hi, Thanks for the reply. I am using it in a bit more complicated fashion than running in a specific notebook for a specific port so the only thing that would work for me would be to override the port searching function to detect available ports correctly. I am trying to highlight that this logic is not sufficient to reliably select a port for the app and make sure the app will successfully run.

[2021-09-14 15:29] aschonfeld commented on #561
You are 100% correct about that code being fired when jupyter proxy server is being used. My mistake 🤦‍♂️Sorry

[2021-09-14 15:53] IanMayo opened #563 "Split or Merge columns"
I've done some dtale research, but cannot see how to split or merge columns.

For example, my data may have separate date and time columns - which I wish to merge into one date-time column. Or, I may have an address column which I wish to split into house-number and street-name.

Any tips welcome :-)

[2021-09-14 16:00] IanMayo commented on #563
Aah, I think I've got it.  Is in the `Dataframe functions`?

Are there any tutorials/guidance covering this capability?

[2021-09-14 18:42] aschonfeld commented on #559
For (5) you can currently achieve this using the following hack:
[code]

I plan on consolidating this so that you can do something like `dtale.show(df, nan_display="...")`.  Also, nan_display will only work for `"nan", "inf", "-", ""` in numeric columns but any string (EX: `"..."`) will work for strings or dates.  I will be fixing this as well.

[2021-09-14 19:29] aschonfeld commented on #563
@IanMayo you are correct, this functionality will reside in "Dataframe Functions".  Here's a short video on how you can perform the operations you'd need: https://youtu.be/o4ieAymgUFY

[2021-09-14 20:28] joewaihenya opened #564 "Geometric mean aggregation function"
Been using this wonderful tool and its great. Super thankful to have it for Exploratory Data Analysis.

I wonder if its possible to add the geometric mean to the list of functions that one can use to summarize data. Could someone offer some pointers as to how I can add it in?

[2021-09-15 07:36] IanMayo commented on #563
Hello @aschonfeld - thanks for the prompt demo.  Note: I'll be looking for a YouTube setting to slow the video down - you're like a dtale wizard!

[2021-09-15 07:36] #563 closed

[2021-09-15 11:06] aschonfeld commented on #563
@IanMayo hahaha, sorry about that. Was originally trying to paste the video right in github so i had to go fast. Any other questions on functionality happy to post additional videos or add features if they dont exist.

Good luck and if you havent already, please toss your ⭐️ on the repo. Thanks! 🙏

[2021-09-15 11:11] aschonfeld commented on #564
@joewaihenya i’m currently working on a new version with some new features. I can add this to the list.  Seems like a pretty easy add to the “summarize data” functionality. In addition, i can add it to the “dataframe functions” page if you want to work horizontally on columns like in this example: https://www.google.com/amp/s/www.geeksforgeeks.org/find-the-geometric-mean-of-a-given-pandas-datafram

[2021-09-15 11:11] IanMayo commented on #563
I tried to use the functionality myself, but got stuck due to being unfamiliar with some of the terms on the `Dataframe functions` page.

Are the terms used the same as used in pandas?  In that case I'll look to pandas for more explanations.  Or, have you devised the terms, in which case I'll look further in the `dtale` docs.

[2021-09-18 18:46] jasjyotsinghjaswal opened #565 "Scatter Plot shows multiple charts for Y axis irrespective of whether Chart Per Y Toggle is On or Off"
Hi Team,

The bar plot in D Charts shows single or 2 charts depending on Selected Value for Toggle Button but scatter plot shows only 2 chart irrespective of whether Toggle value on the **Chart Per Y** button is on or off. It shows 2 charts despite the Off Value
Please see screenshot below
![image](https://user-images.githubusercontent.com/24617050/133905427-dd5970c4-01c4-4f95-ac7e-b410b28b98c0.pn

[2021-09-18 18:48] jasjyotsinghjaswal opened #566 "Enhancement request for Clustermap"
Hi Team,

Great set of visualisation options in D-Tale . Is it possible to also add clustermap option in Charts window?

[2021-09-19 19:28] Vibhash10 opened #567 "Facing issues while trying to run code after cloning"
I have cloned the code and installed all the front-end dependencies by doing "npm install". Then I followed along with the instructions given in the cloning section about running the command "npm run watch" but when I do that the process is getting stuck after a few seconds after building dtale_bundle.js.

I want to add some custom functionalities to the code and then I want to run it on my local

[2021-09-20 01:29] aschonfeld opened #568 "Allow for multiple instances of "Range Highlight" with different colors"
Ability to color rows in a more customized way. What I would really like to do is color them based on a certain value range. The closest thing to this is 'Highlight Range', which looks like it's almost exactly what I'd need, but it's currently limited to the color yellow. Ideally, it would be possible to set up more than 1 condition (e.g. if greater than x, then color it red, if greater than y, th

[2021-09-20 01:30] aschonfeld commented on #559
FYI, I'm moving (4) to a new ticket since its a larger scale change.  Definitely doable, but I have a couple other requests I need to take care of before then.

[2021-09-20 01:31] #562 closed

[2021-09-22 20:01] aschonfeld commented on #566
Thanks for the kind words @jasjyotsinghjaswal, any chance you could send me an example of a clustermap?  Under the hood i'm using plotly dash to power the "Charts" page and I don't see an example of that in their documentation.  Thanks 🙏

[2021-09-22 20:03] aschonfeld commented on #567
@Vibhash10 sorry for the wait, based on your screenshot `npm run watch` is working correctly.  All that command does is compile the JS for you and then watch for any changes you make to the JS files and recompile it on the fly.  So Ideally you'll run `npm run watch` in one terminal and then in another terminal you'll start your python D-Tale process.

[2021-09-23 02:46] aschonfeld commented on #565
@jasjyotsinghjaswal this fix has been included in the new version v1.57.0 just released to pypi & conda-forge.  IF you have yet, please put your ⭐ on the repo.  Thanks 🙏

[2021-09-23 02:46] #565 closed

[2021-09-23 02:48] aschonfeld commented on #564
@joewaihenya just added this feature to v1.57.0 which has just been released to pypi & conda-forge.  If you haven't already, please put your ⭐ on the repo. Thanks 🙏

[2021-09-23 02:48] #564 closed

[2021-09-23 02:48] aschonfeld commented on #560
This feature has just been released in v1.57.0

[2021-09-23 02:48] #560 closed

[2021-09-23 02:51] aschonfeld commented on #559
These features (with the exception of (4)) have been released in v1.57.0

[2021-09-23 02:51] #559 closed

[2021-09-23 02:52] aschonfeld commented on #561
@vlarcta this update has been released in v1.57.0

[2021-09-23 02:52] #561 closed

[2021-09-23 07:27] jasjyotsinghjaswal commented on #565
Sure. Manu thanks for the fix

[2021-09-23 07:47] jasjyotsinghjaswal commented on #566
Hi this is what it looks like https://dash.plotly.com/dash-bio/clustergram . Similar to Heatmap but not exactly that .. It basically clusters together rows that may be related to each other along with clustering columns that are similar to each other

[2021-09-23 18:53] aschonfeld commented on #566
Cool! Thanks, I'll work on adding this in

[2021-09-23 18:54] #546 closed

[2021-09-23 19:56] reza1615 opened #574 "Range highlight needs to have also AND"
Now if we choose multiple conditions on the Range highlighter it just has **OR**
It would be nice to have also **AND**

for example in the below case I need numbers between 1 and 4 so it should highlight just 2 and 3.
![Screenshot from 2021-09-23 15-52-25](https://user-images.githubusercontent.com/2202483/134574840-e8decfe9-fea7-4b41-bdb3-02ab99aa4bc5.png)

[2021-09-24 02:53] aschonfeld commented on #568
@proxseas here's what I have so far

https://user-images.githubusercontent.com/11547371/134611047-04fbe189-bf07-42d9-a830-f9cd47b16a35.mov

:

[2021-09-24 14:36] aschonfeld commented on #568
@proxseas you will be able to set ranges programatically as follows:
[code]

![image](https://user-images.githubusercontent.com/11547371/134692901-a535f5c9-71e5-4fa1-9e74-b0233219fc8f.png)

[2021-09-24 15:27] proxseas commented on #568
Looking good!

[2021-09-26 09:15] ShoubhikBanerjee opened #575 "DTale -Flask - Heroku - Gunicorn - Deployment problem"
Hi !

I was trying to deploy a Heroku app build with Flask using Gunicorn.

I have embedded flask as shown in : [https://github.com/man-group/dtale/blob/master/docs/EMBEDDED_FLASK.md](https://github.com/man-group/dtale/blob/master/docs/EMBEDDED_FLASK.md)

My Gunicorn  cmd : `web: gunicorn app:app --preload -b 0.0.0.0:8080`
But facing this issue :

`Traceback (most recent call last):
   File "/app/

[2021-09-26 17:49] aschonfeld commented on #575
@ShoubhikBanerjee heres an [example](https://github.com/man-group/dtale/issues/475#issuecomment-839677610) of running D-Tale in gunicorn w/ redis for storage (so all gunicorn workers feed from the same data).  Not 100% sure if using Heroku will throw a wrench into things or not.  Let me know if this helps and if not I can dig into it deeper.

[2021-09-29 05:41] hoangphucITJP opened #576 "`dash_core_components` is deprecated"
Hi. I'm running `dtale.show` and it produces some warnings. Not a severe issue, but you can take a look.

[code]

Configuration:
[code]

[2021-09-29 06:55] hoangphucITJP opened #577 "Document for configuring column format"
As mentioned in:
https://github.com/man-group/dtale/issues/519#issuecomment-868474112

I see that we can pass column formating this way:
[code]

But looking through all the available documents. I can't find any guide on how to use the `columnFormats`.
Please give me some hints. Or could it be that I miss something?

The cause that arises this issue is that I want to programmatically turn on the he

[2021-09-29 07:52] hoangphucITJP commented on #519
Hi @aschonfeld . Can we show the local images? Like, allow to set up image folder as a static folder

[2021-09-29 16:38] kdubovikov opened #578 "Correlations do not work"
An attempt to calculate correlations on any dataset ends with an error:

[code]

Tested on Linux, OSX on COVID and Simpsons datasets

[2021-10-01 13:36] lcorrigan opened #579 "FutureWarning received regarding boolean inputs to the 'inclusive' argument"
I'm starting dtale 1.57 in Python 3.8.10 through the VSCode interactive window for a dataframe that has the following dtypes: datetime64[ns](3), float64(6), object(5), string(1), uint16(5), uint64(2)

I'm not sure if this is a user-intended warning, as I can't determine what I passed in to make it state this message, but I receive multiple copies of this message after the call to dtale.show(data=m

[2021-10-02 01:22] aschonfeld commented on #578
@kdubovikov great catch! Fix will be in the next release.  Will let you know when that is available.

[2021-10-02 01:36] aschonfeld commented on #576
@hoangphucITJP thanks for the update! I have updated this and will include it in the next release.

There is still once instance of the warning coming from `dash_bootstrap_components` but it looks like they are getting ready to release a new version using the new import style.

[2021-10-02 01:43] aschonfeld commented on #579
@lcorrigan good catch! including an update for this in the next release. I don't think it should affect anything at the moment.  Pandas just changed their implementation of the parameter.  Regardless, the new version of D-Tale should be out within the next few days. I will keep you posted.

[2021-10-02 01:48] aschonfeld commented on #577
@hoangphucITJP I will add documentation on the different settings options and let you know.

As for turning on the heatmap programmatically that does not exist right now. I did just add the ability to add "Range Highlights" programmatically though. So it shouldn't be hard for me to add the other highlighting options as well:
* Heatmap
* Highlight Dtypes
* Highlight Missing
* Highlight Outliers
I w

[2021-10-03 01:02] aschonfeld commented on #579
Fixed in v1.58.1

[2021-10-03 01:02] #579 closed

[2021-10-03 01:03] aschonfeld commented on #578
@kdubovikov just released v1.58.1 with a fix for this issue.  If you haven't already, please take a second to toss your ⭐ on the repo.  Thanks 🙏

[2021-10-03 01:03] #578 closed

[2021-10-03 01:06] aschonfeld commented on #577
@hoangphucITJP I have added the ability to set a `background_mode` when calling `dtale.show` in the the version I just released v1.58.1 and I have added the documentation you were looking for [here](https://github.com/man-group/dtale#instance-settings).  Hope this helps. Also, if you haven't already, please toss your ⭐ on the repo.  Thanks 🙏

[2021-10-03 01:06] #577 closed

[2021-10-03 01:06] aschonfeld commented on #576
Fixed in v1.58.1

[2021-10-03 01:06] #576 closed

[2021-10-03 01:06] aschonfeld commented on #568
Added in v1.58.1

[2021-10-03 01:06] #568 closed

[2021-10-03 01:07] aschonfeld commented on #566
@jasjyotsinghjaswal just released v1.58.1 with this functionality.  Hope this helps and let me know if there are any issues

[2021-10-03 01:07] #566 closed

[2021-10-03 01:08] #507 closed

[2021-10-03 07:33] hoangphucITJP commented on #577
Cool! Thanks for your effort :+1:

[2021-10-03 08:36] hoangphucITJP commented on #577
Hi. I pass `background_mode='heatmap-col'` into `dtale.show` but it does not work.
Maybe you miss passing the param here? https://github.com/man-group/dtale/blob/cbb89ee765357bffd3a37828b56f99f3d150b205/dtale/app.py#L684-L702

[2021-10-03 14:28] aschonfeld commented on #577
@hoangphucITJP sorry about that.  Guess thats what I deserve for working too fast.  Just released v1.58.2 which fixes this issue

[2021-10-04 21:23] Abdelgha-4 opened #581 "D-tale unable to work on Binder"
I tried to share my [dtale visualiser](https://mybinder.org/v2/gh/Abdelgha-4/Churn-data-visualizer/HEAD?urlpath=tree/churn%20data%20visualizer.ipynb) with binder, but it doesn't seems to work, I tried both `dtale_app.USE_NGROK = True` and `dtale_app.JUPYTER_SERVER_PROXY = True` but with no success.
Also if there is any easier way to directly share ready dtale visualisers with others, please let me

[2021-10-04 23:24] aschonfeld commented on #581
So i’ve never really used binder before but i’m going to try repurposing this [example](https://github.com/carlosesreis/binder-flask-app) to use your code

[2021-10-05 17:08] Stevod opened #583 "Vertical Column Headers"
Very nice product. Howver, I use lots of datasets with long categorical text headers. Is it possible to swivel the column header text  90 degrees so that the column is very narrow, and the long headers take up vderical space instead of horizontal?
Would be a great addition if its not already available.

[2021-10-05 21:16] Vibhash10 commented on #567
Hello sir, as you told earlier that I would need to start my D-Tale python process on another terminal. I tried doing the same by referring to the cloning section and I executed the "python setup.py develop" command. I am not good with backend at all and I am getting the error as shown in the screenshot below. Any suggestion on how to solve this error. Eagerly waiting for your response sir.
![dtal

[2021-10-05 21:37] aschonfeld commented on #567
Looks like there is an issue with your conda environment. Sounds like one of these options will do the trick: https://stackoverflow.com/questions/59974715/conda-unicodeencodeerror-charmap-codec-cant-encode-character-u2580-in-po

[2021-10-06 00:50] aschonfeld commented on #583
This is a cool idea. I can definitely work on adding this feature.

[2021-10-09 03:45] elf55 opened #585 "import error - Windows"
1. Installed dtale (1.58.3  pyhd8ed1ab_0) using Conda on a Windows Server 2013 machine.
2. Jupyter lab using python 3.9.2 kernel
2. import dtale

[code]

[2021-10-09 04:09] aschonfeld commented on #585
@elf55 apologies for the issue. I have a fix for this but in the meantime if you upgrade dash to 2.0.0 it should solve your issue.  Let me know if it doesnt

[2021-10-09 23:08] aschonfeld commented on #583
@Stevod how does this look?

https://user-images.githubusercontent.com/11547371/136675878-69011ae0-aa78-4a0d-baa6-3399654ea5fe.mov

I'm also going to make it so you set this setting programmatically similar to these other properties: https://github.com/man-group/dtale#instance-settings

[2021-10-12 14:32] nsteinmetz opened #586 "Standalone mode - app-root seems not correctly populated when running dtale via cli ?"
Hello,

I try to deploy dtable behind a reverse proxy, under `/apps/dtale/*`

So I basically have the following `Dockerfile`

[code]

What I expect is that when I run dtale container like:

[code]

It should be accessible via http://localhost:40000/apps/

What I notice:
* Statics (css, etc) are called with the the `/apps/` in their path but it leads to 404 ; if we use the path without the app-root

[2021-10-13 15:15] JimmyLzy opened #587 "How to deploy dtale in voila?"
Hi team,
When running this code locally with voila, I can't access dtale with http://localhost:8000/user/jliu05/proxy/40000/dtale/main/1. Could you please help me?
[code]
Thank you,
Jimmy

[2021-10-15 14:31] #585 closed, assigned to nobody

[2021-10-15 17:54] aschonfeld commented on #586
So just a quick note on the `--app-root` parameter.  That parameter exists in case you're running something like[jupyter-server-proxy](https://github.com/jupyterhub/jupyter-server-proxy) which will allow you to hit any running API or webapp through a predefined proxy path.  So the idea is that D-Tale will still run in its normal fashion (http://[hostname]:40000/dtale/main/1) but you can also hit i

[2021-10-15 18:36] aschonfeld commented on #587
@ndgayan thanks for the feedback!

@JimmyLzy I'm wondering if your original code snippet will work if you grab the latest version of D-Tale (1.59.1).  There was some updates I made to the JUPYTER_SERVER_PROXY functionality for the purposes of using it in Binder.  Also, I was able to bring up D-Tale with no issue in a local notebook with viola enabled.  theoretically you shouldn't need to wrap it i

[2021-10-15 19:30] #586 closed, assigned to nobody

[2021-10-16 07:25] hoangphucITJP commented on #577
* **heatmap-col**: turn on heatmap for all numeric columns where the colors are determined by the range of values in the column

I used this, but the side-effect is it hides the non-numeric columns. Is that intended behavior, @aschonfeld ?

[2021-10-20 14:00] neckos opened #588 "Create new column by multiplying existing column with scalar value"
Hi

I guess, that answer should be very obvious, but how one could create new column by multiplying existing column with scalar value (some int like 1000).

[2021-10-20 14:28] info-rchitect opened #589 "Pareto Chart with cumulative percentage"
Hi,

I have some `pandas` code that creates a pareto table from categorical data:

![image](https://user-images.githubusercontent.com/26782653/138108953-e7f077a7-e009-47fa-bb1a-dbbc39524c28.png)

Is there a way to get a pareto chart with cumulative percentage?  Here is an example using `plotly`:

[code]

![image](https://user-images.githubusercontent.com/26782653/138112768-a02c38fd-fbdc-493a-8144-

[2021-10-20 15:35] neckos commented on #588
Thanks a lot. Yes, it was very obvious. Sorry!

[2021-10-20 16:41] #588 closed, assigned to nobody

[2021-10-25 17:40] ewhwjm opened #590 "Instances"
How do I save a specific instance that I can then re use few days later? Right now, after a certain of time, when I run dtale.show(df) it will override all my instances with the original data

[2021-10-26 12:07] info-rchitect opened #591 "Add load from parquet"
Hi,

`pandas` natively supports loading parquet files.  This is [orders of magnitude faste](https://medium.com/productive-data-science/why-you-should-use-parquet-files-with-pandas-b0ca8cb14d71)r, getting more improvement as file size and column counts grow.  Can this be added as a new feature?

thx

[2021-10-27 14:55] BALADEV-1234 opened #592 "Customization of column analysis for categorical column"
Hi Team,
Thank you very much for such a beautiful package. I want to highlight the rows, which  start and  end with spaces. currently I am only able to get the count of those rows through categorical column analysis. Is there any way to highlight those, please help me out. Thanks in advance.

[2021-11-01 03:24] aschonfeld commented on #591
Added in v1.60.1

[2021-11-01 03:24] #591 closed

[2021-11-01 03:25] aschonfeld commented on #590
@ewhwjm I added loading parquet files from the UI in v1.60.1

[2021-11-01 03:25] #590 closed

[2021-11-01 03:25] aschonfeld commented on #537
updated in v1.60.1

[2021-11-01 03:25] #537 closed

[2021-11-01 03:34] aschonfeld commented on #533
Added in v1.60.1

Here's a [demo](https://youtu.be/LqSryRv7QO4)

[2021-11-01 03:34] #533 closed

[2021-11-02 14:05] bangnh1 opened #594 "[Bug] Cannot update cell value when using dtale with flask and redislite or external redis"
### Current Behavior:
1. Access web browser and edit a cell
2. Refresh the site
3. The edited cell have been reverted to old value

### Expected Behavior:
- The edited cell keep the value when refresh the site

### Steps To Reproduce:
I am using demo code as below.

[code]

### Environment:
[code]
###

We are solving problem by setting data to global state in edit_cell function (views.py). Not a g

[2021-11-04 02:08] aschonfeld commented on #589
@info-rchitect I can add a chart type for "Pareto" and with the following inputs (w/ mapping to your example):
* X (SOFT_BIN_DESC)
* BARS (COUNT)
* LINE (CUMULATIVE_PERCENT)
* SORT (COUNT)
* DIRECTION (DESC)

Does this sound like it should work?

[2021-11-04 02:16] aschonfeld commented on #592
@BALADEV-1234 just trying to get some clarity.  So you have some categorical data, strings I assume, and you want to filter down to the rows which have categories that start and end with spaces?  If this is the case here's an example of how to do this.

I input this dataframe:
[code]

And then you can go to the "Custom Filter" popup and input the following filter:
[code]

![image](https://user-ima

[2021-11-04 02:34] aschonfeld commented on #594
@bangnh1 this is actually the correct solution.  I think in the `global_state` upgrades last spring something must have been missed and since the majority of users use the default "in-memory" storage its stays hidden.  I can release a hotfix with this fix added.  Will update you when it has been released.

[2021-11-04 03:04] aschonfeld commented on #594
@bangnh1 just released v1.60.2 to pypi.  Will be on conda-forge shortly.  This should solve the issue.  Let me know if you any more issues and if you haven't already please toss your ⭐ on the repo.  Thanks 🙏

[2021-11-04 03:04] #594 closed

[2021-11-10 14:15] msat59 opened #595 "Feature Request: Histograms with Different Normalization for Y-axis"
Hi Guys.

Currently, the histogram Y-axis is **Frequency** and the KDE line shows the **probability**. It's fine, but when the target is used to show different groups in one plot, Frequency doesn't make sense.

![image](https://user-images.githubusercontent.com/20813541/141121207-af41af1e-67b4-44e2-9d4f-5fcfaead4fa2.png)

Adding a toggle button is good to jump between Frequency and Probability. Pl

[2021-11-11 03:36] aschonfeld commented on #595
@msat59 thanks for the suggestion! I'll work on adding this.

[2021-11-12 03:35] aschonfeld commented on #595
@msat59 so I've tried adding this feature (using the `density` parameter with the `np.histogram` function) and for some reason it appears that all my data keeps returning zeros (with the exception of the column filled with random floats `Col0` which returns the same as `density=False`)

https://user-images.githubusercontent.com/11547371/141404649-b7ea0aa8-cd79-48bd-87ad-22e25e69bc39.mov

:

[2021-11-14 14:19] aschonfeld commented on #595
Ok I think the way to stop getting zeros is to no longer pass in the number of bins when using `density=True`.  Maybe I'll deactivate that input when "Probability" is selected.

[2021-11-14 19:33] msat59 commented on #595
I'm not sure how numpy.histogram works in this case. Why don't you use plotly histogram directly? Currently, bins are calculated by np.histogram and plotly bar plot us used.

`px.histogram(df, x="date", histnorm='probability density')`

[2021-11-16 03:11] aschonfeld commented on #595
It would be too much work to replace the use of `np.histogram` with plotly.  Removing the bin control seemed to solve the problem

https://user-images.githubusercontent.com/11547371/141888999-82cf8763-2f02-46c4-9613-3140b549c946.mov

I'm about to release 1.61.0 with this update included.  Should be ready in the next hour or so.  IF you haven't already, please toss your ⭐ on the repo.  Thanks 🙏

[2021-11-16 03:11] #595 closed

[2021-11-16 03:32] aschonfeld commented on #589
Added in v1.61.0

[2021-11-16 03:32] #589 closed

[2021-11-16 18:53] Bitterlemon42 opened #597 "Adding Aggregation to "Summarize Data" does not work"
Thanks a lot for the awesome package! I do have some problems trying to summarize data as a GroupBy-Operation. When trying to select an aggregation function the small + button is not clickable and therefore I cannot select an aggregation. As a result I get the "Missing an aggregation selection!" error.

I tested this in multiple browsers (Firefox and Chrome) in Ubuntu and Windows, all with the sam

[2021-11-17 03:27] aschonfeld commented on #597
@Bitterlemon42 apologies for the issue.  I upgraded some frontend packages a while back and I think it broke this functionality.  I have a fix and will release hotfix in the next couple days.

[2021-11-17 09:44] jackesselink opened #598 "If you use Dtale and Pandas Profiling in the same notebook you need to reinstall pyyaml again"
If you install the package `Pandas Profiling` package this upgrades the `pyyaml` file to a higher version which makes Dtale crash. To makes Dtale run again `pyyaml` version 5.4.1 needs to be reinstalled

`!pip install pyyaml==5.4.1`

[2021-11-17 13:01] aschonfeld commented on #598
Any chance you can give me some more information on your environment?  D-Tale has no dependency on pyyaml and from what I can tell pandas profiling doesn't either.  Do you have an exception message you're seeing? Thanks

[2021-11-17 13:14] jackesselink commented on #598
My environment is Google Colabs. I have a Jupyter notebook which I use for teaching EDA. I installed Dtale after Pandas Profiling and it failed to import. After doing a Google search I found this error and fix. I did reinstall this YAML file and it worked again. I'll send you a link to the Colab notebook via email

[2021-11-17 13:16] jackesselink commented on #598
If you can follow me back on Twitter @esselinj you can DM me your email address

[2021-11-17 13:54] jaindamini1111 opened #599 "Unable to find an option to build a histogram"
![image](https://user-images.githubusercontent.com/39940054/142213310-4c9f5872-67ed-4eee-87ae-0c2144b4110e.png)

[2021-11-17 13:56] jaindamini1111 commented on #599
Figured it out by clicking on the column.

[2021-11-17 13:56] #599 closed

[2021-11-17 18:02] marcel-goldschen-ohm opened #600 "Describe chart type does not persist"
In the describe feature it is really annoying if I want to look at histograms that every time I select a new column the chart resets to the default box plot and I have to re-click the histogram button. I suggest having the user selected chart type persist so long as it is valid for the current data type when iterating over columns.

[2021-11-18 03:29] aschonfeld commented on #600
@marcel-goldschen-ohm good call.  I'll work on changing this now and let you know when its ready

[2021-11-18 03:47] aschonfeld commented on #600
So I was able to update the code so that as you switch columns it will maintain which chart you had selected previously.  The only hitch is that when you toggle to a column which doesn't have the chart you previously had selected it will default back to the Boxplot.  There's no real way around that unfortunately.

[2021-11-18 04:22] aschonfeld commented on #597
Just released v1.61.1 to pypi (conda-forge will be available shortly) which includes this fix.  If you haven't already, please toss your ⭐ on the repo.  Thanks 🙏

[2021-11-18 04:22] #597 closed

[2021-11-18 04:23] aschonfeld commented on #600
Just released v1.61.1 to pypi (conda-forge will available shortly) which includes this update. If you haven't already, please toss your ⭐ on the repo.  Thanks 🙏

[2021-11-18 04:23] #600 closed

[2021-11-18 13:52] marcel-goldschen-ohm commented on #600
Nice! Thanks.

[2021-11-20 13:04] vijaydewan opened #601 "Change data_id?"
Hey Andrew,

Thanks again for all of the great work on this project!  I was wondering if there is an easy way to change the data_id once data is loaded?

e.g., --

startup("", data=test data, name="test", data_id=1)

[code to change data_id from 1 to 2]

I hope that makes sense.

Thanks!

[2021-11-22 14:09] lcorrigan opened #602 "Exception when applying filters or analysis on columns of dtype=datetime64[ns, tzutc()]"
Issue: When applying a filter, a custom filter query or simply 'Describe()' to a  column of datetime64ns, I get errors regarding comparison of tz-naive and tz-aware datetime-like objects.
I'm using the following on python 3.8.10:
dtale                     1.61.1
numpy                     1.21.4
pandas                    1.3.4

![image](https://user-images.githubusercontent.com/12451259/142875561-9

[2021-11-22 14:27] lcorrigan commented on #602
I don't usually use this function: dateutil.parser.isoparse() but it seems my introducing it to parse some dates from JIRA's API is the reason my normally happy Datetime columns were giving me trouble today. Sorry - I had just assumed something had changed in Dtale since I last used it.
If I cast the columns to .astype('datetime64[ns]'), everything is fine.
Either way, I'm not sure if it's a bug t

[2021-11-24 03:55] aschonfeld commented on #598
@jackesselink so I've finally gotten around to digging into this.  Looks like this is mainly a Google Colab issue. By instally Pandas Profiling it updates the version of pyyaml which is not compatible with the way that Google Colab imports packages.

So the issue is that the first thing you imported `import dtale` was the first thing to trigger Google Colab's package importing which in turn threw

[2021-11-24 03:55] #598 closed

[2021-11-24 08:34] jackesselink commented on #598
Thanks @aschonfeld for the headsup. Hopefully this will help anyone running into the same problem in Colab.

[2021-11-24 18:35] aschonfeld commented on #601
@vijaydewan there currently is not an easy way to do this.  I can work on adding a function `update_id(2)` to instance objects.  For example:

[code]

I can also add a global function:

[code]

Will update once it's released.  Hope this is what you were picturing

[2021-11-24 18:36] aschonfeld commented on #602
@lcorrigan thanks for the submission! I'll take a look

[2021-11-24 18:43] vijaydewan commented on #601
Thanks!

[2021-11-24 18:46] aschonfeld commented on #602
@lcorrigan I'm having trouble trying to reproduce this error. I've been trying to use the following dataframe, but to no avail:

[code]

[2021-11-25 12:49] lcorrigan commented on #602
Hi @aschonfeld,
When I use the JIRA API (mostly taken from here: [[and](https://levelup.gitconnected.com/jira-api-with-python-and-pandas-c1226fd41219)](https://levelup.gitconnected.com/jira-api-with-python-and-pandas-c1226fd41219) to normalize the returned json, the dates are in this format (example): 2021-11-22T21:58:37.000+0000.  I've attached a CSV file of two columns of this, one has some None

[2021-12-02 08:52] Balaguru16 commented on #443
I was also facing the above mentioned problem.
so,i did npm install and tried npm run build.But,
I'm getting this error while running 'npm run build'

npm ERR! missing script: build

Can anyone help me out?Thanks:))

[2021-12-02 09:00] Balaguru16 commented on #443
1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'run', 'build' ]
2 info using npm@6.14.12
3 info using node@v12.22.1
4 verbose stack Error: missing script: build
4 verbose stack     at run (/usr/lib/node_modules/npm/lib/run-script.js:155:19)
4 verbose stack     at /usr/lib/node_modules/npm/lib/run-script.js:63:5
4 verbose stack     at /usr/lib/node_modules/npm/node_modules/read-package-json/read-

[2021-12-02 09:36] Balaguru16 opened #604 "Issue with npm run build"
Hi..I'm facing this issue while running dtale in my browser.

[code]

And when I checked for solution,I came through this conversion
[https://github.com/man-group/dtale/issues/443]

According to that, I tried

-     npm install
-     npm run build
-
But, npm run build threw this error

`npm ERR! missing script: build`

complete log on the error was:

[code]

Please help me out,sir. Thanks :))

[2021-12-02 13:35] aschonfeld commented on #604
@Balaguru16 apologies.  I think this might be an issue of out-of-date documentation.  I've been working for the last few weeks on converting the entire frontend codebase to typescript and one of the changes was to move all frontend code to a new `frontend` directory.  So I think the order of operation after you've cloned the D-Tale repo is the following:
[code]
Hope this helps & I'll update the do

[2021-12-03 03:54] Balaguru16 commented on #604
Yeah that helped..I'm now able to run my dtale instance.Thank you :))

[2021-12-03 03:54] #604 closed

[2021-12-05 20:55] salmanahmed84 commented on #275
Hi,
I am going through similar issue. Python and pycharm both are added in firewall but still the same outcome

[2021-12-08 02:13] cmartinotti opened #606 "dtale.show of a multi header dataframe"
Hello,
I'm trying to use dtale.show() to visualize multi headers dataframes. It kinda works, but it does this aestethically displeasing thing of putting the indices column names with many empty strings after their actual name.

Basically if i go:
df_piv=pd.pivot(df, index = ['col1','col2','col3'], columns='col5',col6',col7',col8',values=col9',aggfunc='mean')
dtale.show(df_piv)

it shows df_piv, bu

[2021-12-09 07:43] automano opened #607 "Missing Analysis chart not able to show Chinese Characters"
I try to use the Missing Analysis in dtale, but chart not able to show Chinese characters. And headers of my csv file are Chinese characters title. In chart, they are all blank.

The dtale and python version:

dtale                     1.61.1
python                    3.8.12

![Snipaste_2021-12-09_15-42-26](https://user-images.githubusercontent.com/17286982/145354631-f9d442bc-076b-4c07-8cb4-7fe566

[2021-12-10 17:12] KenMacD opened #610 "Correlations fail on group-by data"
Use `Summarize Data` to group some values together by `mean`. Then try to run `Correlations` on the resulting instance results in the error:

[code]

In this case the table column label is `meanResTime mean`

[2021-12-15 07:32] bangnh1 opened #612 "[Bug] Cannot use replacement feature"
**Current Behavior:**
- Start dtale with no data
- Upload csv file to import to dtale
- Choose any column and select **Replacements**
- Fill `Search for` and `Replace With` -> **Replace**

![Screen Shot 2021-12-15 at 14 31 40](https://user-images.githubusercontent.com/29230374/146142783-ef3e51a7-408e-4fc5-afe2-950deba784e7.png)

**Expected Behavior:**
- Can update cells with replacement

**Environ

[2021-12-15 07:37] bangnh1 commented on #435
I had same issue. We can ignore any data with None.
[code]

[2021-12-21 07:36] HeinrichGraser opened #614 "Display data frame name in browser tab instead of device_name:port/dtale/main/X"
I was wondering whether you considered to let the user set a flag in the dtale.show() function to show the name of the data frame that is opened in d-tale, instead of the device_name:port/dtale/main/X.
The reason I am asking for that is that currently, I am comparing many data frames with each other with the help of your really great tool, but I always get confused after a while, which tab is whic

[2022-01-08 13:20] lcorrigan commented on #592
@aschonfeld, Although filtering is useful, it is often visually helpful to be able to simply highlight some rows in an unfiltered grid.  Excel conditional formatting is a pretty commonly used feature, but it's ruleset and UI for this are cumbersome.  I think it would be awesome to be able  to use a pandas query expression to apply a selectable highlight color to the resulting rows in the main tabl

[2022-01-08 13:28] lcorrigan commented on #574
@aschonfeld, @reza1615 Just a thought, but I'm guessing if my "row highlight based on query" suggestion in https://github.com/man-group/dtale/issues/592#issuecomment-1007988105 was implemented, it would cover as many condition cases as one could dream up, and wouldn't be bound to numeric/categorical columns like the Range Highlights form seems to be.  It would effectively replace the form above.

[2022-01-08 13:43] lcorrigan opened #617 "Enhancement Request to export as standalone HTML file"
There are many times I find myself wishing I could export the currently displayed table as an HTML report. Many people I send reports to  do not have Python or DTale installed, and exporting to CSV etc, loses any formatting I've applied and dates might look different on their locale etc if they open it in Excel.

Since management-folk seem to like colors to obtain that 2-second summary of a data s

[2022-01-12 16:07] reza1615 opened #618 "In the charts: Have an option to change the chart transparency (opacity)"
It would be nice to have an option to set chart opacity or transparency. especially when we choose scatter plot to have  dots with opacity will help to observe better groups
![image](https://user-images.githubusercontent.com/2202483/149176848-7af21b6a-39f9-4e39-b230-93c935d3c684.png)
For example in the left side the transparent dots can help to see better the blue dots

[2022-01-12 17:51] reza1615 opened #619 "when the number of groups are many the x axis title will cover some legend texts"
when the number of groups (legend text) is more than 3 the x-axis title will cover some legend texts
![image](https://user-images.githubusercontent.com/2202483/149194825-f0288fdb-123a-4c0f-a13d-42aad4856461.png)

[2022-01-12 19:52] reza1615 commented on #618
It can be set like below
![image](https://user-images.githubusercontent.com/2202483/149211719-5a3e3c0d-0a20-4e11-8b54-daf7d6c6d952.png)

[2022-01-17 13:48] bazils2 opened #622 "404 error using D-Tale + Jupyter Server Proxy"
Hi team, thanks for your app, it seems very useful for EDA and easy to use.

It works just fine on a local machine, but when i start to use it on a server, can't get an app working.

Without using Jupyter Server Proxy i just get white blank screen, as in some other issues.

Then i Installed Jupyter Server Proxy, so now i get '404 : Not Found'  error instead of a white screen. Could you help me to

[2022-01-27 10:10] rhjmoore opened #628 "Column widths when dtale initially hidden"
I'm a new user. I can see dtale is pretty great when using simply within a jupyter notebook.
I've tried incorporating multiple dtale views in a tabbed HTML interface using something like this:

    <div class="tab">
      <button class="tablinks" onclick="openCity(event, 'DF1')">DF1</button>
      <button class="tablinks" onclick="openCity(event, 'DF2')">DF2</button>
    </div>

    <div id="DF1"

[2022-01-28 13:37] jasonlocal commented on #567
Hi @Vibhash10, does Andy's trick resolved the problem. If so, we can close this issue.

[2022-01-28 16:04] yiskylee commented on #612
![image](https://user-images.githubusercontent.com/2600667/151578366-a0fa7b83-abb8-412b-90a9-51ed1c7871c0.png)
Could you try clicking the "plus" button as shown in the screenshot?

[2022-02-20 21:33] aschonfeld commented on #628
@rhjmoore sorry for the wait I’ve been putting the finishing touches on a typescript conversion. So the issue you’re facing is that you’re initially loading a D-Tale grid with no data and then when you eventually load data the columns are not being sized correctly?

If so, yea I should be able to fix this. Just wanted to make sure i’m understanding the issue correctly.

[2022-02-21 00:39] rhjmoore commented on #628
@aschonfeld Not quite - sorry I see my phrasing isn't quite correct.
I loaded both tables with data, but they exist in a div which is either shown or hidden. This is so that we can click on the tabbed interface and see either one or the other table. The hidden table doesn't show with appropriate widths unless I show that table and then go in to toggle the max width setting.

[2022-02-21 01:06] aschonfeld commented on #628
Ahhh, thank you. Yea this is a little tougher but i should be able to at least gove you some HTML to fix it. Let me mess around

[2022-02-21 14:14] aschonfeld commented on #628
So this is kind of a until I can figure out what's really going on with the column resizing code (I'm assuming its a glitch with it being hosted within an iframe) but it should get you going until I can release a new version:
[code]

So essentially, rather than toggling the visibility of the iframe parent div I'm toggling whether the iframe is rendered or not.

[2022-02-22 00:20] rhjmoore commented on #628
Thank you, I'll give it a go.

[2022-02-22 03:54] aschonfeld commented on #628
@rhjmoore I've tried digging into this as much as possible and for the life of me I could not figure out how to fix this programmatically or expose the "Refresh Widths" function to the parent window (cross-scripting errors).  I have found a less heavy-handed approach to toggling the display of the iframes so that it won't re-load the data each time you display it.

[code]

So I'm simply absolutely

[2022-02-23 14:26] cmosguy commented on #622
@bazils2  I am getting the same error on ubuntu, did you find a solution to your issue?

[2022-02-25 18:48] ricmatsui commented on #622
It looks like the issue is related to how `final_app_root` is determined since the `JUPYTER_SERVER_PROXY` flag is for a JupyterHub setup and not for a standalone JupyterLab setup:

https://github.com/man-group/dtale/blob/624ef41a289d8e2c6ffc05eb700080b52ad7b2e8/dtale/app.py#L569-L577

For a standalone JupyterLab, the URL should be `/proxy` instead of `/user/<user>/proxy` as described in the Jupyte

[2022-02-25 19:27] cmosguy commented on #622
Thanks @ricmatsui  that helped me!

[2022-02-28 22:03] gidim opened #639 "Exception when rendering chart"
I'm trying to render a line chart visualization and seeing this error:
[code]

[2022-03-01 03:32] aschonfeld commented on #639
Just out of curiosity, what version of D-Tale are you using?  Looks like the line numbers in your stacktrace are old.  Try upgrading `pip install -U dtale` and see if it fixes it.  Let me know if it works and if not I can dig in deeper.  Apologies for the issue

[2022-03-01 03:34] #622 closed

[2022-03-01 03:35] aschonfeld commented on #622
@ricmatsui thanks so much for the help 🙏

[2022-03-01 04:05] aschonfeld commented on #617
@lcorrigan I can certainly look into the ability to export the currently viewed data (the 55 or so rows rendered to the screen). If I can get more great, but ultimately you could have an extremely large dataset loaded and trying to build a static HTML file with all that data wouldn't be able to be loaded in any browser.

[2022-03-03 08:30] Nriver opened #641 "Histogram data precision config"
I am analysing some data with format from `.2f` to `.4f`, the default histogram seems to be fixed with `.1f` format, my diagram shows me 20 bars with the same value due to the precision loss.

I suggest a seperate config for precision for histograms, or make it read from the precision config value when initializing the table, like the `precision` in `dtale.show_excel(path=file_path, precision=3)`.

[2022-03-03 08:34] Nriver commented on #641
For example:

![ksnip_20220303-163220](https://user-images.githubusercontent.com/6752679/156526822-09314629-3547-4671-bac1-82b206a35045.png)

There are several bars lebeled with 0.8, but actually they should be 0.82, 0.84, 0.86...etc

[2022-03-03 13:40] dagarshali opened #642 "Merge with on column condition"
The example pane for merge shows that you can merge, say left join with a common column as the join condition. However, that is not what shows up the code that you see when you add the two dataframes, you see left=index and right=index. How do you change this behavior?

[2022-03-07 10:01] k-nayak opened #643 "Issue when trying to find correlations "TypeError: 'NoneType' object is not subscriptable""
Hello,
I am currently facing an error and i am still unable to figure out what the issue is.

Traceback (most recent call last):
  File "C:\Users\NAK4SI\AppData\Roaming\Python\Python38\site-packages\dtale\views.py", line 114, in _handle_exceptions
    return func(*args, **kwargs)
  File "C:\Users\NAK4SI\AppData\Roaming\Python\Python38\site-packages\dtale\views.py", line 2923, in get_scatter
    y_

[2022-03-08 06:48] aschonfeld commented on #617
@lcorrigan here's a sample of the HTML export (you'll have to unzip it since github wouldn't let me attach HTML files).  It embeds the JS/CSS as text so the scrolling/styling still works.  So the idea is that if you've applied some styling to your grid (heatmap, decimal formatting) it will be captured in your export.
[dtale_html_js_export_1646721218126.zip](https://github.com/man-group/dtale/files

[2022-03-08 21:58] lcorrigan commented on #617
Thanks @aschonfeld  The fact that you kept the scrolling in makes it worth the massive file size.  I would likely not be doing this for files with more than 2K rows of data anyway.  Speaking of, would it be possible to export filtered data? I.e.: If I pull a 50K row dataframe open with DTale, and do some custom filtering, could I make it export just the data I filtered it down to? Either way, look

[2022-03-08 22:26] aschonfeld commented on #617
So i plan on having an input for row count for exports greater than 50K rows. But that will just execute a “df.head(rows)”. If you want a more complex filter you’ll have to apply it using the UI beforehand. It will apply it when exporting

[2022-03-09 00:14] lcorrigan commented on #617
Sounds great, thanks!

[2022-03-11 13:27] aschonfeld commented on #643
@k-nayak without your actual data or at least the data data types of the columns I can't be 100% sure, but I will add some additional checks to gracefully handle this situation

[2022-03-11 14:03] aschonfeld commented on #642
Not sure why you would want to change it.  This code should work (FYI: I did fix some small frontend bugs that I'll release soon):
[code]

![image](https://user-images.githubusercontent.com/11547371/157879628-89fbbc45-3d94-4724-99ed-ec6c2027201b.png)

The difference with setting the column names versus saying `left_index=True, right_index=True` is that I'm turning the selected columns into indexes

[2022-03-11 14:04] k-nayak commented on #643
Thanks for the quick response I am trying to visualize and find correlations using dtale, my data has multiple parameters and its recorded values. It is a time-series dataset. I am able to visualize some of the parameters using dtale but while attempting to compute correlations I face the above-mentioned error. Please do let me know if I can give any more info to figure out the issue.

[2022-03-11 20:08] aschonfeld commented on #641
so I just pushed an update to make the histogram label precision a little more dynamic.  I'll let you know when a new version has been released

[2022-03-12 01:26] aschonfeld commented on #614
@HeinrichGraser funny you should mention this functionality because I used to support this, but had to remove it due to some refactoring to the data storage layer.  I can look into adding this back.

So the way I envision it working is that if you call

[code]

The message printed in your console will be: `http://[hostname]:40000/dtale/main/foo`

And you can hit your D-Tale instance using either `

[2022-03-12 01:33] aschonfeld commented on #614
@HeinrichGraser this functionality is currently available for the example above if you change your URL to `http://[hostname]:40000/dtale/main/name/foo`

[2022-03-13 15:27] aschonfeld commented on #607
@automano I dug a little deeper and found that this is an issue with the `missingno` package in python.  I've passed the issue over to them https://github.com/ResidentMario/missingno/issues/155

[2022-03-13 15:44] aschonfeld commented on #602
@lcorrigan sorry for the wait.  I've started digging into this and I was able to recreate it.  I've found a post on stackoverflow that looks promising: https://stackoverflow.com/a/34687479/12616360

I think I might just force date comparisons to be timezone-naive.

[2022-03-13 16:37] ResidentMario commented on #607
`missingno` uses `matplotlib`, and `matplotlib` uses a default font that doesn't define Chinese glyphs.

In order to fix this, follow the instructions [here](https://stackoverflow.com/questions/39630928/how-to-plot-a-figure-with-chinese-characters-in-label) and/or [here](https://jdhao.github.io/2017/05/13/guide-on-how-to-use-chinese-with-matplotlib/).

While this _is_ a little surprising, I am not

[2022-03-13 16:40] ResidentMario commented on #607
Ah, I see this is an online GUI tool. In that case @aschonfeld you can probably fiddle with the relevant settings.

[2022-03-13 21:14] aschonfeld commented on #607
@ResidentMario thanks for the tip, I was able to solve it using the following:

[code]

[2022-03-13 21:39] aschonfeld commented on #606
@cmartinotti apologies for the wait.  I've added something to the data load where if the name of a column in the dataframe is of type `tuple` then it will join all the values (after applying some standard formatting based on the type of the value) together using underscores (ignoring any formatted values that are empty strings).

For example `('col1',",",",")` would become `col1` and `('col1',4,5.

[2022-03-14 02:48] aschonfeld commented on #617
added in v2.1.0

[2022-03-14 02:48] #617 closed

[2022-03-14 02:51] aschonfeld commented on #643
@k-nayak just released v2.1.0 let me know if the fix works.  Also, if you haven't already, please put your ⭐ on the repo. Thanks 🙏

[2022-03-14 02:52] aschonfeld commented on #642
@dagarshali just released v2.1.0 with some fixes.  Please let me know if you're still having issues.  Also, if you haven't already, please put your ⭐  on the repo. Thanks 🙏

[2022-03-14 02:52] #642 closed

[2022-03-14 02:53] aschonfeld commented on #641
@Nriver just released v2.1.0 with this fix

[2022-03-14 02:53] #641 closed

[2022-03-14 02:54] aschonfeld commented on #614
@HeinrichGraser just added this functionality back in v2.1.0

[2022-03-14 02:54] #614 closed

[2022-03-14 02:55] aschonfeld commented on #612
@bangnh1 just released v2.1.0 with this fix.  Let me know if it you have any other issues.  If you haven't already, please put your ⭐  on the repo.  Thanks 🙏

[2022-03-14 02:55] #612 closed

[2022-03-14 02:56] aschonfeld commented on #602
fix added in v2.1.0

[2022-03-14 02:56] #602 closed

[2022-03-14 02:58] aschonfeld commented on #607
@automano just release v2.1.0 with this fix.  Let me know if you have any other issues

[2022-03-14 02:58] #607 closed

[2022-03-14 02:59] aschonfeld commented on #606
@cmartinotti just released v2.1.0 with this fix included, let me know how it works out

[2022-03-14 02:59] #606 closed

[2022-03-14 08:55] k-nayak commented on #643
Thanks, the error no longer pops while trying to find the correlations.

But there seems to be a glitch I believe, when I try to select a certain variable the drop down menu is blank but the variables are still present. I am able to select but not see what I am trying to select.

![GUI bug dtale](https://user-images.githubusercontent.com/76793645/158137570-6652a914-7e7b-4fb5-86a7-3164175e4e00.PNG)

[2022-03-14 11:34] lcorrigan commented on #617
Hi @aschonfeld, I'm getting an error when I attempt to export to HTML, with or without filtering first.  Let me know if you want me to add info to this ticket or create a new one.

[2022-03-14 11:41] lcorrigan opened #646 "Show/Hide columns shows no columns in form when first clicked"
Noticed this happening after upgrade to dtale-2.1.0.
The first attempt to click the show/hide columns feature, either from the auto-hidden top menu or from the arrow menu on the left, show no columns to choose from.  On the second attempt, it's populated with the data frame's columns. If you reload the data, it's blank on the first attempt again.  Not sure if this is a clue or a separate problem,

[2022-03-14 12:09] lcorrigan opened #647 "Enhancement request to allow auto-hiding of columns where all entries are None or Empty equivalent"
My most common use case is for viewing data in dtale is displaying decoded Pandas data from database queries.  The DB has a raw data column like a dictionary of fields:values that I unpack into individual columns.  As columns are concatenated to the data frame, any field within a row that doesn't have applicable data is set to None type.  So, after decoding, there are many None/NaN entries mixed t

[2022-03-14 12:51] aschonfeld commented on #643
@k-nayak sorry I have a fix for that, will let you know when it's in

[2022-03-14 12:52] aschonfeld commented on #617
can you send me the error? Everything is still working fine for me.

[2022-03-14 13:02] lcorrigan commented on #617
Here you go.
I'm using python 3.8.10.
Here are my data types.  Some columns will have some empty/None/NaN entries. Not sure if that's my problem.
array([dtype('uint64'), dtype('O'), dtype('float64'), dtype('float64'),
       StringDtype, dtype('<M8[ns]'), dtype('<M8[ns]'), dtype('uint16'),
       dtype('float64'), dtype('uint16'), dtype('uint16'),
       dtype('uint16'), dtype('float64'), dtype('f

[2022-03-14 13:28] aschonfeld commented on #617
Ahh, this is good thank you. I wonder if this is a windows vs. mac issue.  Since I never came across this and I've been working with missing data in my exports.  I'll keep digging...

[2022-03-15 14:57] aschonfeld commented on #646
fixed in v2.1.2

[2022-03-15 14:57] #646 closed

[2022-03-15 14:57] aschonfeld commented on #643
@k-nayak just released v2.1.2 with the fix for this

[2022-03-15 14:57] #643 closed

[2022-03-15 14:57] aschonfeld commented on #617
@lcorrigan just released v2.1.2 with a fix that should hopefully solve this

[2022-03-15 20:22] #628 closed

[2022-03-15 20:23] #567 closed

[2022-03-15 20:24] #587 closed

[2022-03-16 09:42] jmk007 opened #649 "Pivot table fails with "Must provide 'func' or 'tuples' of (column, aggfunc)""
Pivot table functionality (even on the dTale "live demo") fails in making a pivot table with error:
![image](https://user-images.githubusercontent.com/14846442/158561428-c1207e2e-bbfa-46e2-abf5-7d3bfd51a280.png)

Rolling back to earlier versions corrected the issue on one installation. However, on others the problem persists.

Additional information at: https://stackoverflow.com/q/71466883/7490498

[2022-03-16 12:39] aschonfeld commented on #649
@jmk007 apologies for the bug.  This was a frontend issue.  I'll include the fix in my next release.  It should still work in any version before 2.0.0

[2022-03-16 14:05] lcorrigan commented on #617
Sorry @aschonfeld, but it's not working for me. I tried it with the most basic dataframe and it still wasn't successful (same error).
I don't know if this is a clue, but if you open that previous attachment I submitted, you will notice I'm running python from a different location (it's a virtual environment) than from where DTale is trying to pull the encoder file from (my main windows install tha

[2022-03-16 15:12] jmk007 commented on #649
@aschonfeld Many thanks for the prompt reply. Thanks for confirming and isolating the problem. Been uninstalling/reinstalling multiple times, rolling back, etc. I can confirm that rolling back to 1.61.1 works with Firefox as the browser. What's odd is that my personal laptop with Microsoft Edge (99.0.1150.39) works whereas my official employer-secured laptop (same version of Edge) consistently fai

[2022-03-17 00:59] lcorrigan commented on #617
@aschonfeld, yes I'm on Windows.  Thanks for the suggestion - that worked.

[2022-03-17 01:10] aschonfeld commented on #617
🥳

[2022-03-18 19:03] fedderw commented on #275
This isn't particularly helpful, what is the name of the process we need to allow?

My issue is actually on wsl2, so it might be different.

[2022-03-18 19:08] fedderw commented on #275
Here is what it looks like for me:
![image](https://user-images.githubusercontent.com/16396180/159068643-0b1ee1a3-e17c-45a6-b668-e84fc42cdc2a.png)

[2022-03-20 06:48] eriksdev1 opened #650 "Dtale flask in pythonanywhere"
Please forgive me if I'm requesting help here also, as this the project's home. How can I load data into a flask-dtale app (csv file)

Hello I have seen the site working with the dtale library: http://alphatechadmin.pythonanywhere.com/dtale/main/1

and I even tried the example (taken from reddit)
![image](https://user-images.githubusercontent.com/45124393/159151456-694b9e7b-14fe-44c7-8ff3-b1be4459

[2022-03-20 07:01] eriksdev1 commented on #650
by the way I got this error while using the embedded example: bs4.FeatureNotFound in server:8080/load-players
![image](https://user-images.githubusercontent.com/45124393/159151911-5c789137-5f15-4f12-9dcf-639e7cd8cc03.png)

[2022-03-23 09:10] eriksdev1 commented on #650
Hello @aschonfeld  many thanks for replying and updating code, I was able to reproduce the example as the reddit gif but unable to use the data, any hits are welcome (when I try to manipulate the data nothing happens, is like the data is just visible but can't be accessed) I attach a gif
![DataNotLoading](https://user-images.githubusercontent.com/45124393/159663705-a809a400-c4ed-4ee2-a688-18f5fba6

[2022-03-24 01:22] lijiapeng-bmc commented on #649
![image](https://user-images.githubusercontent.com/53208046/159822992-c8f5302b-140c-4451-bbfd-bb938b9973ca.png)
if we use func is instead of aggfunc，it can work。

[2022-03-24 02:41] aschonfeld commented on #649
@jmk007 just released v2.2.0 with this fix, please let me know if you have any other issues.  Also, if you haven't already, please toss your ⭐  on the repo. Thanks 🙏

[2022-03-24 02:41] #649 closed

[2022-03-24 02:41] aschonfeld commented on #601
@vijaydewan just released v2.2.0 with this update

[2022-03-24 02:41] #601 closed

[2022-03-24 15:10] aschonfeld commented on #650
Would you be willing to send me your console output from the developer toolbar? Without it I'm kind of at a loss since everything works for me. So you can do that by doing the following:
* click the three dots in the upper righthand corner
* go to "More Tools" -> "Developer Tools"
* then copy and paste the output from the console drawer at the bottom after you've tried doing some D-Tale manipulati

[2022-03-24 15:33] eriksdev1 commented on #650
I was able to save the log to this, many many thanks for looking into this
[192.168.0.9-1648135939206.log](https://github.com/man-group/dtale/files/8342997/192.168.0.9-1648135939206.log)

[2022-03-24 17:41] aschonfeld commented on #650
Thanks for the extra detail.  So those errors make no sense to me at all.  Those network calls work fine for me.  On thing I noticed is that in your original post you had the following code snippet:
[code]

Do you still have something like this in your code?  Because if so re-using the "dtale" (`@app.route("/dtale")`) route will definitely cause problems.  I'd change it to something like `@app.rou

[2022-03-24 20:16] eriksdev1 commented on #650
Oh ok, I will try running the app changing the route to `@app.route("/dtale-loader")`
Also, I was running the example from the insde the whole downloade repo folder, I have also installed several packages with the normal pip install, ... (not using a venv), I will try using a venv and report shortly and using this folders
![image](https://user-images.githubusercontent.com/45124393/160002338-f0213b

[2022-03-25 12:22] eriksdev1 commented on #650
Hi, well maybe versions are the problem, just a hunch, I still get errors:
![image](https://user-images.githubusercontent.com/45124393/160119839-07f03de8-8250-40fe-8e28-2541e39282f0.png)
![image](https://user-images.githubusercontent.com/45124393/160119865-a0b47500-804b-4b5d-b5b9-d2b153750be0.png)
Can I ask for a requirements.txt file, I'm new to this and maybe using the same versions you are usin

[2022-03-26 21:16] aschonfeld commented on #650
So those errors you're getting in to console are expected.  I get the same ones, they're just side-effect with how plotly dash handles hidden elements.  When I run my version of this app I'm using a python 3.8 environment (created using pyenv) and here's all the packages I have installed:
[code]

Hope this helps

[2022-03-30 10:55] injuryholmes opened #653 "can't use dtale.__version__ to check current version after import in python"
Hi all, apologize if this question seems silly.
I found that dtale can't use dtale.__version__ to check the current using version.
![image](https://user-images.githubusercontent.com/25261163/160583883-6ae84258-1a48-49a5-8977-3b361daf06f6.png)

I found it relate to missing \_\_verison\_\_ attribute in \_\_init\_\_ file under dtale package.
But there is also a version parameter in setup.py, so it wo

[2022-03-30 20:43] aschonfeld commented on #653
As a workaround until I update `__version__` you can do the following:
[code]

[2022-04-03 10:51] Idolized22 opened #655 "Installing in colab results dependencies issues and data visualization does not appear at all"
Hello,
I have been trying to use "dtale" in  google colab following your [tutorial](https://github.com/man-group/dtale#google-colab). However attempting to install (various versions from 1.6.x till the latest version)
resulted with the following dependencies error:
I have installed dtale following:
`!pip install --upgrade dtale`

  Downloading dtale-2.2.0-py2.py3-none-any.whl (12.7 MB)
     |█████

[2022-04-06 03:38] kuang777 opened #656 "ImportError"
cannot import name '_centered' from 'scipy.signal.signaltools'

[2022-04-07 11:36] seankmartin commented on #656
I had the same issue arising from an issue with the statsmodels and scipy packages.

Specifically, I had statsmodels version 0.13.0 and scipy 1.8.0 which caused this.

I fixed it by `pip install --upgrade statsmodels` to upgrade to version 0.13.2

[2022-04-07 12:30] aschonfeld commented on #656
@seankmartin which version of python were you working with?  These are the current dependency settings for `scipy` & `statsmodels`:
[code]

So if you're working with python 3.8 or higher both should be unpinned

[2022-04-07 12:49] aschonfeld commented on #655
@Idolized22 which version of python are you running?  I start a fresh notebook using python 3.7.13 and this worked fine:
[code]

[2022-04-07 13:32] seankmartin commented on #656
@aschonfeld Thanks for the reply, I'm on Python 3.8.
I figured this issue was probably from my environment setup, was just posting my fix in case it helped @kuang777

[2022-04-10 13:57] Idolized22 commented on #655
I am using the same version as you: Python 3.7.13,
I tried once again and it worked well.

Thank you very much

[2022-04-10 13:57] #655 closed

[2022-04-11 16:03] rurubino1 opened #658 "ImportError: cannot import name 'gcd' from 'fractions'"
Hi, any clue on the error below? conda list attached.
thank you
Ruello
![image](https://user-images.githubusercontent.com/57481847/162782239-b8c6bb20-06d4-405f-abf6-1795556ec908.png)
[condalist.txt](https://github.com/man-group/dtale/files/8465858/condalist.txt)

[2022-04-12 10:15] rurubino1 commented on #658
Solved with
`conda upgrade scipy`

Don't know why, scipy version is still the same 1.7.1 but now the import works.
[condalist_upgrade.txt](https://github.com/man-group/dtale/files/8471973/condalist_upgrade.txt)

Output of conda upgrade:

[2022-04-12 10:15] #658 closed

[2022-04-13 19:19] ricnov opened #659 "Editing cells with specific predefined values"
Hi, is it possible to edit cells with predefined specific values (not data type)? For example in a column with string data type it allows only "yes", "no" or "maybe". Thanks

[2022-04-19 21:50] richlysakowski opened #660 "HTML Output shows serious error"
I get only an error whenever I try to render an HTML report of a DTale object view in a webpage.

I expect an HTML tabular report.

**_Please provide guidance for how to configure DTale so this does not happen._**

Thank you.

There is no dtale.__version__() attribute so I cannot report that easily.   I used the hack in bug report #653 and it shows version 2.2.0

Here's my platform and environment